<md-dialog aria-label="List dialog" class="activity-dialog p-t-es-40">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 ng-if="item.extra.typeForPopUp === 'SLAPexpert Call'">Attended Meeting</h2>
            <h2 ng-if="item.extra.typeForPopUp === 'Accountability Call'">SLAPmanager Accountability Call</h2>
            <h2 ng-if="item.extra.typeForPopUp === 'Onboarding Call'"> SLAPmanager Onboarding Call</h2>
            <h2 ng-if="!item.extra.typeForPopUp"> {{item.title}}</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>

        <section class="disabled-section p-r-es-15" ng-if="item.extra.typeForPopUp === 'SLAPexpert Call'">
            <div layout="row" layout-wrap layout-align="center center">
                <div class="date-slapmanager">
                    <md-input-container flex="50">
                        <label>Date</label>
                        <md-datepicker ng-model="item.extra.date" disabled></md-datepicker>
                    </md-input-container>

                    <md-input-container flex="25">
                        <label>Hours</label>
                        <md-select placeholder="Hours" ng-model="item.extra.hours" disabled>
                            <md-option ng-repeat="h in [] | range:10" ng-value={{h}}>{{h}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex="25">
                        <label>Minutes</label>
                        <md-select placeholder="Minutes" md-container-class="slapster-minutes-select"
                                   ng-model="item.extra.minutes" disabled>
                            <md-option ng-repeat="m in [] | range:4" ng-value={{m*15}}>{{m*15}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <md-input-container flex="100" style="margin-top: 10px !important">
					<textarea
                            placeholder="Write detailed notes about how this SLAPster is doing and what was discussed on the call"
                            ng-model="item.extra.notes" disabled>
                    </textarea>
                </md-input-container>

                <md-input-container flex="100">
						<textarea
                                placeholder="What were key priorities that came out for the SLAPster to focus on until your next call?"
                                ng-model="item.extra.priorities" disabled>
                        </textarea>
                </md-input-container>

                <md-input-container flex="100">
						<textarea
                                placeholder="Are there any specific items the SLAPmanagers should follow up on?"
                                ng-model="item.extra.spec" disabled>
                        </textarea>
                </md-input-container>

                <md-input-container md-no-float flex="100">
                    <lable>Tool used for call</lable>
                    <md-select ng-model="item.extra.tool" disabled>
                        <md-option ng-value=1>Zoom video call</md-option>
                        <md-option ng-value=2>Appear</md-option>
                        <md-option ng-value=3>In video call</md-option>
                        <md-option ng-value=4>Line2 Phone</md-option>
                        <md-option ng-value=5>Personal cell phone</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container md-no-float flex="100">
                    <lable>Rate SLAPmindset</lable>
                    <md-select ng-model="item.extra.mindset" disabled>
                        <md-option ng-value=1>1</md-option>
                        <md-option ng-value=2>2</md-option>
                        <md-option ng-value=3>3</md-option>
                        <md-option ng-value=4>4</md-option>
                        <md-option ng-value=5>5</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container md-no-float flex="100">
                    <lable>
                        How well do they know and use their SLAPstatement?
                    </lable>

                    <md-select ng-model="item.extra.statement" disabled>
                        <md-option ng-value=1>1</md-option>
                        <md-option ng-value=2>2</md-option>
                        <md-option ng-value=3>3</md-option>
                        <md-option ng-value=4>4</md-option>
                        <md-option ng-value=5>5</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container md-no-float flex="100">
                    <lable>
                        How well do they know and understand their annual and quarterly goals?
                    </lable>
                    <md-select ng-model="item.extra.goals" disabled>
                        <md-option ng-value=1>1</md-option>
                        <md-option ng-value=2>2</md-option>
                        <md-option ng-value=3>3</md-option>
                        <md-option ng-value=4>4</md-option>
                        <md-option ng-value=5>5</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container md-no-float flex="100">
                    <lable>
                        How well do they know and understand their current Connecting Strategy and Action Items?
                    </lable>
                    <md-select ng-model="item.extra.items" disabled>
                        <md-option ng-value=1>1</md-option>
                        <md-option ng-value=2>2</md-option>
                        <md-option ng-value=3>3</md-option>
                        <md-option ng-value=4>4</md-option>
                        <md-option ng-value=5>5</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container md-no-float flex="100" style="margin-top: 30px">
                    <label>
                        Rate their status that our SLAPmanagers can use to support them until your next call
                    </label>
                    <md-select md-container-class="slapster-rate-select"
                               ng-model="item.extra.rate" disabled>
                        <md-option ng-value=1>SLAPstar!</md-option>
                        <md-option ng-value=2>Doing ok but needs to use SLAP better/more</md-option>
                        <md-option ng-value=3>Using SLAP but results are poor</md-option>
                        <md-option ng-value=4>SLAPstuck</md-option>
                        <md-option ng-value=5>Completely Off Track</md-option>
                        <md-option ng-value=6>They are unhappy with Silver Lining / SLAP</md-option>
                        <md-option ng-value=7>Ego / Something in the way of them accepting our help</md-option>
                    </md-select>
                </md-input-container>
            </div>

        </section>

        <section class="disabled-section p-r-es-15" ng-if="item.extra.typeForPopUp === 'Accountability Call'">
            <div layout="row" layout-wrap layout-align="center center" name="form">
                <div class="date-slapmanager">
                    <md-input-container flex="50">
                        <label>Date</label>
                        <md-datepicker ng-model="item.extra.date" disabled></md-datepicker>
                    </md-input-container>

                    <md-input-container flex="25">
                        <label>Hours</label>
                        <md-select placeholder="Hours" ng-model="item.extra.hours" disabled>
                            <md-option ng-repeat="h in [] | range:10" ng-value={{h}}>{{h}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex="25">
                        <label>Minutes</label>
                        <md-select placeholder="Minutes"
                                   md-container-class="slapster-minutes-select" ng-model="item.extra.minutes" disabled>
                            <md-option ng-repeat="m in [] | range:4" ng-value={{m*15}}>{{m*15}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <md-input-container flex="100" style="margin-top: 10px !important">
                    <textarea
                            placeholder="How is the SLAPster doing? Did you learn anything new or of importance from your call?"
                            ng-model="item.extra.notes" disabled> </textarea>
                </md-input-container>

                <div class="item-mark">
                    <md-input-container flex="100">
                        <label>How would you rate their SLAPhabit #1: Take Action?</label>
                        <md-select ng-model="item.extra.actionMark" disabled>
                            <md-option ng-value=1>1</md-option>
                            <md-option ng-value=2>2</md-option>
                            <md-option ng-value=3>3</md-option>
                            <md-option ng-value=4>4</md-option>
                            <md-option ng-value=5>5</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex="100">
                        <label>How would you rate their SLAPhabit #2: Close Sales?</label>
                        <md-select ng-model="item.extra.salesMark" disabled>
                            <md-option ng-value=1>1</md-option>
                            <md-option ng-value=2>2</md-option>
                            <md-option ng-value=3>3</md-option>
                            <md-option ng-value=4>4</md-option>
                            <md-option ng-value=5>5</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div class="item-mark">
                    <md-input-container flex="50">
                        <label>How would you rate their SLAPhabit #3: Pause & Reflect?</label>
                        <md-select name="PRMark" ng-model="item.extra.PRMark" disabled>
                            <md-option ng-value=1>1</md-option>
                            <md-option ng-value=2>2</md-option>
                            <md-option ng-value=3>3</md-option>
                            <md-option ng-value=4>4</md-option>
                            <md-option ng-value=5>5</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div class="item-mark">
                    <md-input-container flex="100">
                        <label>Is their SLAPcenter Account up to date?</label>
                        <md-select name="accountUpDate" ng-model="item.extra.accountUpDate" disabled>
                            <md-option ng-value="1">Yes- they are on it!</md-option>
                            <md-option ng-value="2">Yes - we updated it on the call</md-option>
                            <md-option ng-value="3">No - they want to do it themselves</md-option>
                            <md-option ng-value="4">No - not at all</md-option>
                        </md-select>
                        <div class="errors" ng-messages="form.PRMark.$error">
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>
                </div>

                <md-input-container flex="100" style="margin-top: 10px !important">

                    <textarea required name="specificNotes"
                           placeholder=" Do you have any specific notes for the SLAPexpert that they should follow up on on their next call?"
                           ng-model="item.extra.specificNotes" disabled></textarea>

                    <div class="errors" ng-messages="form.specificNotes.$error">
                        <div ng-message="required">Required</div>
                    </div>
                </md-input-container>


                <div class="item-mark">
                    <md-input-container flex="50">
                        <label>Are Tickets created for ANY/ALL follow up that you promised you would do for
                            them?</label>
                        <md-select name="PRMark" ng-model="item.extra.promisedTickets" disabled>
                            <md-option ng-value="1">ANY</md-option>
                            <md-option ng-value="2">ALL</md-option>

                        </md-select>
                        <div class="errors" ng-messages="form.promisedTickets.$error">
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>
                </div>

                <md-input-container flex="100" style="margin-top: 10px !important">
                    <textarea disabled name="SLAPcenterUpdates"
                              placeholder="What, if any, updates did you give them about SLAPcenter?"
                              ng-model="item.extra.SLAPcenterUpdates">
                    </textarea>

                    <div class="errors" ng-messages="form.SLAPcenterUpdates.$error">
                        <div ng-message="required">Required</div>
                    </div>
                </md-input-container>

                <md-input-container flex="100" style="margin-top: 10px !important">
                    <textarea disabled name="SLAPexpertUpdates"
                              placeholder=" What, if any, updates did you give them about their SLAPexpert?"
                              ng-model="item.extra.SLAPexpertUpdates">
                    </textarea>

                    <div class="errors" ng-messages="form.SLAPexpertUpdates.$error">
                        <div ng-message="required">Required</div>
                    </div>
                </md-input-container>

                <md-input-container flex="100" style="margin-top: 10px !important">
                    <textarea disabled name="SLAPschoolWorldUpdates"
                              placeholder=" What, if any, updates did you give them / discuss about SLAPschool or SLAPworld?"
                              ng-model="item.extra.SLAPschoolWorldUpdates">
                    </textarea>

                    <div class="errors" ng-messages="form.SLAPschoolWorldUpdates.$error">
                        <div ng-message="required">Required</div>
                    </div>
                </md-input-container>

                <md-input-container flex="100" style="margin-top: 10px !important">
                    <textarea disabled name="anythingDiscussed" placeholder=" Was anything else discussed on the call?"
                              ng-model="item.extra.anythingDiscussed">
                    </textarea>

                    <div class="errors" ng-messages="form.anythingDiscussed.$error">
                        <div ng-message="required">Required</div>
                    </div>
                </md-input-container>

                <div class="item-mark">
                    <md-input-container flex="50">
                        <label>Tool Used for Call</label>
                        <md-select disabled name="tool" placeholder="" ng-model="item.extra.tool">
                            <md-option ng-value=1>Zoom video call</md-option>
                            <md-option ng-value=2>Appear</md-option>
                            <md-option ng-value=3>In video call</md-option>
                            <md-option ng-value=4>Line2 Phone</md-option>
                            <md-option ng-value=5>Personal cell phone</md-option>
                        </md-select>
                        <div class="errors" ng-messages="form.tool.$error">
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>
                </div>

                <div class="item-mark">
                    <md-input-container flex="50">
                        <label>Rate their SLAPmindset</label>
                        <md-select disabled name="slapmindset" placeholder="" ng-model="item.extra.mindset">
                            <md-option ng-value=1>1</md-option>
                            <md-option ng-value=2>2</md-option>
                            <md-option ng-value=3>3</md-option>
                            <md-option ng-value=4>4</md-option>
                            <md-option ng-value=5>5</md-option>
                        </md-select>
                        <div class="errors" ng-messages="form.slapmindset.$error">
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>

                    <md-input-container flex="50">
                        <label>Rate their Status</label>
                        <md-select disabled name="slapmanager" md-container-class="slapster-rate-select"
                                   ng-model="item.extra.rate">
                            <md-option ng-value=1>SLAPstar!</md-option>
                            <md-option ng-value=2>Doing ok but needs to use SLAP better/more</md-option>
                            <md-option ng-value=3>Using SLAP but results are poor</md-option>
                            <md-option ng-value=4>SLAPstuck</md-option>
                            <md-option ng-value=5>Completely Off Track</md-option>
                            <md-option ng-value=6>They are unhappy with Silver Lining / SLAP</md-option>
                            <md-option ng-value=7>Ego / Something in the way of them accepting our help</md-option>
                        </md-select>
                        <div class="errors" ng-messages="form.slapmanager.$error">
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>
                </div>
            </div>

        </section>

        <section class="disabled-section p-r-es-15" ng-if="item.extra.typeForPopUp === 'Onboarding Call'">
            <div layout="row" layout-wrap layout-align="center center" name="form">
                <div class="date-slapmanager">
                    <md-input-container flex="50">
                        <label>Date</label>
                        <md-datepicker ng-model="item.extra.date" name="Date" disabled></md-datepicker>
                        <div ng-messages="form.date.$error">
                            <div ng-message="valid">The entered value is not a date!</div>
                            <div ng-message="required">This date is required!</div>
                            <div ng-message="mindate">Date is too early!</div>
                            <div ng-message="maxdate">Date is too late!</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="25">
                        <label>Hours</label>
                        <md-select disabled name="hours" placeholder="Hours" ng-model="item.extra.hours">

                            <md-option ng-repeat="h in [] | range:10" ng-value={{h}}>{{h}}</md-option>

                        </md-select>
                        <div ng-messages="form.hours.$error" ng-hide="form.hours.$valid">
                            <div ng-message-exp="['required']">

                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container flex="25">
                        <label>Minutes</label>
                        <md-select name="minutes" disabled placeholder="Minutes"
                                   md-container-class="slapster-minutes-select" ng-model="item.extra.minutes">

                            <md-option ng-repeat="m in [] | range:4" ng-value={{m*15}}>{{m*15}}</md-option>

                        </md-select>
                        <div ng-messages="form.minutes.$error" ng-hide="form.minutes.$valid">
                            <div ng-message-exp="['required']">
                            </div>
                        </div>
                    </md-input-container>
                </div>


                <md-input-container flex="100" style="margin-top: 10px !important; width: 100%">
                    <textarea disabled name="notes"
                              placeholder="Write detailed notes about how this SLAPster is doing and what was discussed on the call"
                              ng-model="item.extra.notes">
                    </textarea>

                    <div class="errors" ng-messages="form.SLAPcenterUpdates.$error">
                        <div ng-message="required">Required</div>
                    </div>
                </md-input-container>

                <!--sds-->

                <md-input-container flex="100">
                    <lable>
                        Did you walk the SLAPster through their Ideal Client Journey and help them understand exactly
                        what to expect?
                    </lable>
                    <md-select disabled name="walk_SLAPster" md-container-class="slapster-onboard-select"
                               ng-model="item.extra.walk_SLAPster">
                        <md-option ng-value=1>Yes</md-option>
                        <md-option ng-value=2>No</md-option>

                    </md-select>
                    <div ng-messages="form.walk_SLAPster.$error" ng-hide="form.walk_SLAPster.$valid">
                        <div ng-message-exp="['required']">

                        </div>
                    </div>
                </md-input-container>


                <div class="item-mark">
                    <md-input-container flex="100">
                        <lable>
                            Did you share screens and show the SLAPster how to use SLAPcenter and tour through Build,
                            Get
                            Help and Account in particular?
                        </lable>
                        <md-select disabled name="share_screens" md-container-class="slapster-onboard-select"
                                   ng-model="item.extra.share_screens">
                            <md-option ng-value=1>Yes</md-option>
                            <md-option ng-value=2>No</md-option>
                            <md-option ng-value=3>No but we talked about it</md-option>
                        </md-select>
                        <div ng-messages="form.share_screens.$error" ng-hide="form.share_screens.$valid">
                            <div ng-message-exp="['required']">

                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div class="item-mark">
                    <md-input-container flex="100">
                        <lable>
                            Did you schedule all SLAPexpert Calls for the year?
                        </lable>
                        <md-select disabled name="SLAPexpert_calls" md-container-class="slapster-onboard-select"
                                   ng-model="item.extra.SLAPexpert_calls">
                            <md-option ng-value=1>Yes</md-option>
                            <md-option ng-value=2>No</md-option>
                            <md-option ng-value=3>No but a Ticket is Created to get this done</md-option>
                        </md-select>
                        <div ng-messages="form.SLAPexpert_calls.$error" ng-hide="form.SLAPexpert_calls.$valid">
                            <div ng-message-exp="['required']">

                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="100">
                        <lable>
                            Did you schedule all SLAPmanager Accountability calls for the year?
                        </lable>
                        <md-select disabled name="Accountability_calls" md-container-class="slapster-onboard-select"
                                   ng-model="item.extra.Accountability_calls">
                            <md-option ng-value=1>Yes</md-option>
                            <md-option ng-value=2>No</md-option>
                            <md-option ng-value=3>No but a Ticket is Created to get this done</md-option>
                        </md-select>
                        <div ng-messages="form.Accountability_calls.$error" ng-hide="form.Accountability_calls.$valid">
                            <div ng-message-exp="['required']">

                            </div>
                        </div>
                    </md-input-container>
                </div>

                <div class="item-mark">
                    <md-input-container flex="100">
                        <lable>
                            Did you briefly explain SLAPschool and SLAPworld to get them excited?
                        </lable>
                        <md-select disabled name="explain_SLAPschool" md-container-class="slapster-onboard-select"
                                   ng-model="item.extra.explain_SLAPschool">
                            <md-option ng-value=1>Yes</md-option>
                            <md-option ng-value=2>No</md-option>
                        </md-select>
                        <div ng-messages="form.explain_SLAPschool.$error" ng-hide="form.explain_SLAPschool.$valid">
                            <div ng-message-exp="['required']">

                            </div>
                        </div>
                    </md-input-container>
                </div>

                <div class="item-mark">
                    <md-input-container flex="100">
                        <lable>
                            Did you agree to a date that they will be done their SLAPbuild and schedule their Execute
                            Onboarding Call?
                        </lable>
                        <md-select disabled name="agree_to_date" md-container-class="slapster-onboard-select"
                                   ng-model="item.extra.agree_to_date">
                            <md-option ng-value=1>Yes - call scheduled</md-option>
                            <md-option ng-value=2>No</md-option>
                        </md-select>
                        <div ng-messages="form.agree_to_date.$error" ng-hide="form.agree_to_date.$valid">
                            <div ng-message-exp="['required']">

                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div class="item-mark">
                    <md-input-container flex="100">
                        <lable>
                            Did you update SLAPcenter Admin with Communication preferences and notes on Personality /
                            Preferences that you learnt about
                            the SLAPster?
                        </lable>
                        <md-select disabled name="update_SLAPcenter" md-container-class="slapster-onboard-select"
                                   ng-model="item.extra.update_SLAPcenter">
                            <md-option ng-value=1>Yes</md-option>
                            <md-option ng-value=2>No</md-option>
                        </md-select>
                        <div ng-messages="form.update_SLAPcenter.$error" ng-hide="form.update_SLAPcenter.$valid">
                            <div ng-message-exp="['required']">

                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div class="item-mark">
                    <md-input-container flex="100">
                        <lable>
                            Is SLAPster-At-A-Glance 100% updated with the right plan, promo code, partner, SLAPexpert,
                            contact details, contact preferences
                            etc?
                        </lable>
                        <md-select disabled name="SLAPster_glance" md-container-class="slapster-onboard-select"
                                   ng-model="item.extra.SLAPster_glance">
                            <md-option ng-value=1>Yes</md-option>
                            <md-option ng-value=2>No</md-option>
                        </md-select>
                        <div ng-messages="form.SLAPster_glance.$error" ng-hide="form.SLAPster_glance.$valid">
                            <div ng-message-exp="['required']">

                            </div>
                        </div>
                    </md-input-container>
                </div>
            </div>

        </section>
        <section ng-if="!item.extra.typeForPopUp">
            {{item.notes}}
        </section>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button ng-click="closeDialog()" class="md-primary">Close</md-button>
    </md-dialog-actions>
</md-dialog>