
.video-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;

  .video-panel {
    height: 106px;
    position: absolute;
    z-index: 5;

  }

  .video-panel-show {
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07);
  }

  .video-content {
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 60px;
    left: 15px;

    video {
      object-position: -11px 0px;
      padding-left: 0;
    }
  }

  .video-block-600 {

    .video-container {

      .video-content {
        video {
          height: 600px;
        }

        @media(max-width: 768px) {

          video {
            height: 200px;
          }
        }
      }
    }
  }
  .video-panel-small{
    margin-top: 15px;
    @media (max-width: @screen-sm) {
      margin-top: 20px;
    }
  }

}

.video-content {
  height: 37.0vw;
}