<div class="slap-page personal-expanses" scroll-top>

    <div class="panel panel-default">

        <div class="panel-body">

            <button-switch visible="showVideoBlock"></button-switch>

            <video-block visible="showVideoBlock"></video-block>

        </div>

    </div>

    <div class="panel panel-default">

        <div class="panel-body static-text-panel">

            <button-switch visible="showStaticTextBlock"></button-switch>

            <slap-static-text visible="showStaticTextBlock"></slap-static-text>

        </div>

    </div>
    <slap-notifications notifications="notifications" ></slap-notifications>
    <div class="panel panel-default">

        <div class="panel-body slap-work-panel">

            <button-switch visible="showContent"></button-switch>

            <p class="logo panel-title">ACTION</p>

            <!--<div class="col-xs-12">
                <p></p>
            </div>-->

            <div class="form-box sample-show-hide col-xs-12" ng-hide="showContent">

                <div class="row">
                    <div class="col-md-5"><h4>What is the name of the expense?</h4></div>
                    <div class="col-md-2"><h4>Monthly Expense</h4></div>
                    <div class="col-md-4"><h4>Yearly Expense</h4></div>
                </div>

                <div class="row margin-b-50 item" ng-repeat="item in data.expenses">
                    <div class="col-md-5">
                        <div class="input-box">
                            <input ng-model="item.expense" type="text" id="expense-{{$index}}"
                                   class="expense outline-0"
                                   ng-keydown="$event.keyCode === 13 "
                                   placeholder="Add Another Expense"
                                   ng-class="{'active': item.expense}" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-box">
                            <span class="currency">$</span>
                            <input ng-model="item.monthlyCost" type="text"
                                   class="monthly-cost outline-0"
                                   ng-blur="checkFormElements(item, $event)"
                                   ng-keydown="$event.keyCode === 13 && checkFormElements(item, $event)"
                                   ng-class="{'active': item.monthlyCost}" required>
                        </div>
                    </div>
                    <div class="result col-md-4">
                        <div ng-show="item.monthlyCost">&#215;12 = ${{item.monthlyCost ? (item.monthlyCost * 12) : '' | number:2}}</div>

                        <div class="delete-btn outline-0" tabIndex="-1" ng-click="deleteItem(item)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row row-flex incidentals-wrap  m-t-es-10">
                    <div class="col-md-3">
                        <div class="input-box">
                            <span class="currency">%</span>
                            <input ng-model="data.incidentals" type="text" id="incidentals"
                              placeholder="Incidentals for" class="incidentals outline-0" ng-blur="checkNumberValid(data.incidentals, $event)" required>
                        </div>
                    </div>
                    <div class="col-md-2"> </div>
                    <div class="result col-md-2">
                        <span>${{data.incidentals * 0.01 * data.expensesSum | number:2}}</span>
                    </div>
                    <div class="result col-md-4">
                        &#215;12 = ${{(data.incidentals * 0.01) * data.expensesSum * 12 | number:2}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12  m-t-es-40">
                        <div class="col-md-12 row-flex total-expense-wrap">
                            <div class="col-md-5 padding-l-30">
                                Total Expenses
                            </div>
                            <div class="result col-md-3">
                                <span>Total Monthly</span>
                                <span>${{data.expensesSum + data.incidentals * 0.01 * data.expensesSum | number:2}}</span>
                            </div>
                            <div class="result col-md-4 padding-l-20">
                                <span>Total Yearly</span>
                                <span>&#215;12 = ${{(data.expensesSum + data.incidentals * 0.01 * data.expensesSum) * 12 | number:2}}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<slap-footer send="sendData" forward="forward"></slap-footer>