<div class="static-text-container">

    <h3 class="margin-b-50">Helpful Tips</h3>

    <div class="col-md-12 sample-show-hide" ng-hide="$ctrl.visible">

        <div class="row">

            <div class="col-md-6 margin-b-24">
                <div class="blue-vertical-line"></div>
                <p class="padding-l-32">Think about rent/mortgage, groceries, eating out, daycare, tuition, healthcare, pets, personal grooming, vacations, entertainment…the list goes on and on (we know!).</p>
            </div>
            <div class="col-md-6 margin-b-24">
                <div class="blue-vertical-line"></div>
                <p class="padding-l-32">You also want to consider taxes - so if you know roughly how much you pay each year in taxes - enter that in as an expense as well.</p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6 margin-b-24">
                <div class="blue-vertical-line"></div>
                <p class="padding-l-32">If you share expenses with another person, then just include that portion of expenses you are responsible for. For example, if you split $2000 rent with another person, enter $1000 as a personal expense below.</p>
            </div>

            <div class="col-md-6 margin-b-24">
                <div class="blue-vertical-line"></div>
                <p class="padding-l-32">Make sure you list everything. Tell the truth, the whole truth and nothing but the truth! We know it is not fun to see how much we spend. But it will help us build the right plan.</p>
            </div>

        </div>

    </div>

</div>