<div class="upcoming-events-container container m-t-xs-50">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <h1 class="text-center">Upcoming Events</h1>
                    <div ng-if="data.length" class="row" style="margin-bottom:15px">
                        <div class="col-xs-3 col-sm-3 col-md-3">Presenter</div>
                        <div class="col-xs-3 col-sm-3 col-md-3">Topic</div>
                        <div class="col-xs-2 col-sm-2 col-md-2">Duration</div>
                        <div class="col-xs-3 col-sm-3 col-md-3">Start time</div>
                        <div class="col-xs-1 col-sm-1 col-md-1">Join Us</div>
                    </div>
                    <hr>
                    <div ng-if="!data.length" class="row" style="margin-bottom:15px">
                        <h3>Coming SOON</h3>
                    </div>
                    <div ng-repeat="user in data">
                        <div ng-repeat="webinar in user.webinars">
                            <div class="row webinar-item" style="margin-bottom:15px" ng-click="description = !description">
                                <div class="col-xs-3 col-sm-3 col-md-3">{{user.name}}</div>
                                <div class="col-xs-3 col-sm-3 col-md-3">{{webinar.topic}}</div>
                                <div class="col-xs-2 col-sm-2 col-md-2">{{webinar.duration}} minutes</div>
                                <div class="col-xs-2 col-sm-2 col-md-2">{{webinar.agenda}}</div>
                                <div class="col-xs-3 col-sm-3 col-md-3">{{webinar.start_time | date:'short'}} {{webinar.timezone}}</div>
                                <div class="col-xs-1 col-sm-1 col-md-1">
                                    <a ng-click="isStart(webinar.start_time, webinar.duration, $event, webinar.join_url)" class="btn btn-primary">Join</a>
                                </div>
                            </div>
                            <div class="row webinar-item col-md-12" style="margin-bottom:15px"  ng-show="description">{{webinar.agenda}}</div>
                        </div>
                    </div>
                </div> 
            </div> 
        </div>
    </div>
</div>