<div class="upcoming-events-container container">
    <div class="row school-row">
        <div class="panel panel-school panel-default animated fadeIn">

            <div class="school-header">
                <h1 class="school-title">Upcoming Events</h1>
                <div class="container-button">
                    <button class="btn-school" ng-click="openTraining()">

                        <a>Training & Tools</a>
                    </button>
                    <button class="btn-school">
                        <a target='_blank' href="https://slapcenter.zendesk.com/hc/en-us">Methodology FAQ</a>
                    </button>
                    <button class="btn-school">
                        <a>Past Events Archive</a>
                    </button>
                </div>
            </div>


            <table class="table school-body">
                <thead>
                <tr>
                    <th scope="col" class="grow-10">Presenter</th>
                    <th scope="col" class="grow-15">Topic</th>
                    <th scope="col" class="grow-10">Duration</th>
                    <th scope="col" class="grow-15">Start time</th>
                    <th scope="col" class="grow-10">Join Us</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="webinar in data" class="main-tr" webinar-agenda="{{webinar.agenda}}"
                    toggle-class="active-item" agenda="{{agenda}}" height-item="{{htItem}}">


                    <td class="presenter-container grow-10">
                        <span class="presenter-item active-color" ng-repeat="name in webinar.name">{{name.name}}
                        </span>
                    </td>

                    <td class="topic-container grow-15">
                        <span>{{webinar.topic[0]}}<span ng-if="webinar.topic.length > 1"></span></span>
                        <span ng-if="webinar.topic.length > 1" class="active-color"><span class="no-color">ft. </span> {{webinar.topic[1]}}</span>
                    </td>

                    <td class="grow-10 duration-container grey-color">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span>{{webinar.duration}} minutes</span>
                    </td>
                    <td class="grow-15 time-container grey-color">
                        <i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
                        <span>{{webinar.start_time | date:'short'}} {{webinar.timezone | timezone}}</span>
                    </td>
                    <td class="grow-10 button-container">
                        <button class="btn-item-school" ng-click="isStart(webinar.start_time, webinar.duration, $event, webinar.join_url); $event.stopPropagation();">
                            <a>
                                Join</a>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="wrap-btn">
            <button class="btn btn-primary button-oval button-forward outline-0 btn-plus button-school"
                    data-after="+"></button>
        </div>
    </div>
</div>
