<div class="container-button">
    <button class="btn-item" ui-sref="slapSchool.trainingTools">
        <a>
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
            Back
        </a>
    </button>
</div>


<div class="slap-page rate-connect-strategy" scroll-top>
    <div class="panel panel-default animated fadeIn">
        <div class="panel-body slap-tools-panel">
            <div class="strategy-tool-container" id="strategy-container" style="display: flex;
    justify-content: center;">

                <div class="item-tool">
                    <div class="strategy-box strategy-tool tools-mod">
                        <img src="/images/logo.jpg"/>
                        <div class="overlap">
                        </div>
                        <div class="content content-training">
                            <span class="plus plus-def"><i>+</i></span>
                            <span class="title">{{data.name}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-tool">
                <div class="title-container">
                    <span class="title-trainig">Training</span>
                </div>

                <div class="container-video">
                    <div class="video-row">
                        <video-block-tools ng-repeat="item in videoUrl" class="video-block-600 vid-tol"
                                     video="item" idvideo="$index">

                        </video-block-tools>
                    </div>
                </div>


                <div class="title-container">
                    <span class="title-tools">Tools</span>
                </div>
                <div class="container-document">
                    <div class="btn-row">
                        <button ng-if="item" class="document-btn" ng-repeat="item in docUrl">
                            <md-tooltip
                                    md-direction="top">
                                {{item.title}}
                            </md-tooltip>
                            <span class="btn-text">
                                <i class="fa fa-file-o" aria-hidden="true"></i>
                                Document {{$index + 1}}
                            </span>
                            <a  href="{{item.link}}" target="_blank"><i class="fa fa-download btn-dow"
                                                                   aria-hidden="true"></i></a>
                        </button>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>
