<div class="container m-t-xs-50">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">

            <form ng-disabled="lock.state" id="signup-form">
                <div class="panel panel-default animated fadeInDown">

                    <div class="panel-body" >
                        <h3>Sign up</h3>
                        <hr/>

                        <div class="form-group" ng-class="{'has-error':errors.name}">
                            <input type="text" ng-model="signup.name" class="form-control" name="name"
                                   placeholder="Name">
                            <div class="help-block help-block-error" ng-show="errors.name"
                                 ng-bind-html="errors.name | joinBr"></div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':errors.email}">
                            <input type="text" ng-model="signup.email" class="form-control"
                                   name="email"
                                   placeholder="Email">
                            <div class="help-block help-block-error" ng-show="errors.email"
                                 ng-bind-html="errors.email | joinBr"></div>
                        </div>

                        <div class="form-group" ng-class="{'has-error':errors.password}">
                            <input type="password" ng-model="signup.password" class="form-control" name="password"
                                   placeholder="Password">
                            <div class="help-block help-block-error" ng-show="errors.password"
                                 ng-bind-html="errors.password | joinBr"></div>
                        </div>
                        <div  class="form-group" ng-class="{'has-error':errors.confirmPassword}">
                            <input type="password" ng-model="signup.confirmPassword" class="form-control"
                                   name="confirmPassword"
                                   placeholder="Confirmation Password">
                            <div class="help-block help-block-error" ng-show="errors.confirmPassword"
                                 ng-bind-html="errors.confirmPassword | joinBr"></div>
                        </div>

                        <!--<div class="text-center" ng-if="!signHide">-->
                            <!--<span>Thanks! We sent you an email with a confirmation link to complete your registration.</span>-->
                        <!--</div>-->

                        <hr>

                        <div  class="text-center">
                            <button ng-disabled="lock.state" type="submit" ng-click="submit()" class="btn btn-primary btn-fullwidth">
                                Sign up
                            </button>
                        </div>


                    </div>

                </div>
            </form>

            <p class="text-center">
                <a ui-sref="login" class="text-white">Already have an account? Sign in!</a>
            </p>

        </div>
    </div>
</div>