<slap-registration-header></slap-registration-header>
<div class="container signup" scroll-top>
    <div class="row">
        <header class="container signup">
            <div class="col-md-12 leave">
                    <a ui-sref="login">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>leave
                    </a>
            </div>
            <div class="header-contents">
                <div class="col-md-3 header-logo">
                    <img src="/images/logo.png" alt="logo">
                </div>
                <div class="col-md-6 header-caption">
                    <h1>{{vm.isRenew ? 'renew your account' : 'set up your account'}}</h1>
                </div>
                <div class="col-md-3 header-step">
                    <div>
                        <span>Step</span>
                        <div class="oval">
                            <span>1</span>
                        </div>
                        <div class="oval">
                            <a ui-sref="step2"><span>2</span></a>
                        </div>
                        <div class="oval oval-active">
                            <span>3</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <article class="container signup">
                <slap-notifications notifications="vm.notifications"></slap-notifications>
            <div class=" registration" layout="row">
                <div class=" registration-sidebar" flex="30">
                    <div class="promo-sidebar">
                        <div class="registration-sidebar-header">
                            <h3 class="text-center">promo code</h3>
                        </div>
                        <div class="registration-sidebar-content">
                            <div class="promo-content">
                                <div class="text-center">
                                    <input ng-model="vm.user.code" placeholder="Promo Code">
                                    <md-button md-no-ink class="md-primary" ng-click="vm.apply()" ng-disabled="!vm.user.code">apply</md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="payment-sidebar">
                        <div class="registration-sidebar-header">
                            <h3 class="text-center">payment summary</h3>
                        </div>
                        <div class="registration-sidebar-content">
                            <div class="payment-content">
                                <p>today's payment</p>
                                <hr>
                                <!--<div>-->
                                    <p class="leftstr">monthlySLAP</p>
                                    <p class="rightstr">${{ vm.plan.costProduct }}</p>
                                    <p class="leftstr">SLAPbuild</p>
                                    <p class="rightstr" ng-show="vm.build">${{vm.build.buildType == 2 ? vm.build.costProduct : vm.build.amountFirstPayment }}</p>
                                    <p class="rightstr" ng-hide="vm.build">-</p>
                                    <div style="clear: left"></div>
                                    <p class="text-center attention">today's total ${{ vm.calculateTodayPayment }}</p>
                                <!--</div>-->
                            </div>
                            <div class="payment-content">
                                <p>monthly payment</p>
                                <hr>
                                <!--<div>-->
                                <p class="leftstr">monthlySLAP</p>
                                <p class="rightstr">${{ vm.plan.costProduct }}</p>
                                <p class="leftstr">SLAPbuild</p>
                                <p class="rightstr">{{vm.build.buildType == 1 ? ('$'+ vm.build.costProduct) : '-' }}</p>
                                <div style="clear: left"></div>
                                <p class="text-center attention">monthly total ${{ vm.calculateMonthlyPayment }}</p>
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" registration-content" flex="70">
                    <form name="registerForm">
                        <div layout="row">
                            <md-input-container class="md-block" flex="50">
                                <label>Name</label>
                                <input md-maxlength="30" required name="name" ng-model="vm.user.name" ng-disabled="vm.isRenew"/>

                                <!--<div ng-messages="registerForm.name.$error" ng-hide="registerForm.name.$valid">-->
                                    <!--<div ng-message-exp="['required', 'maxlength']">-->

                                    <!--</div>-->
                                <!--</div>-->
                            </md-input-container>

                            <md-input-container class="md-block" flex="50"  >
                                <label>Last Name</label>
                                <input md-maxlength="30" required name="lastName" ng-model="vm.user.lastName"  ng-disabled="vm.isRenew"/>

                                <!-- <div ng-messages="registerForm.lastName.$error" ng-hide="registerForm.lastName.$valid">-->
                                    <!--<div ng-message-exp="['required', 'maxlength']">-->

                                    <!--</div>-->
                                <!--</div> -->
                            </md-input-container>
                        </div>

                        <md-input-container class="md-block" >
                            <label for="businessName">Business Name</label>
                            <input required name="businessName" ng-model="vm.user.businessName" id="businessName"  ng-disabled="vm.isRenew"/>

                            <div ng-messages="registerForm.businessName.$error" ng-hide="registerForm.businessName.$valid">
                                <div ng-message-exp="['required', 'maxlength']">

                                </div>
                            </div>
                        </md-input-container>

                        <div layout="row">
                            <md-input-container class="md-block" flex="50">
                                <label for="email">Email</label>
                                <input name="email" ng-model="vm.user.email" id="email"
                                       required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"   ng-disabled="vm.isRenew"/>

                                <div ng-messages="registerForm.email.$error" ng-hide="registerForm.email.$valid">
                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                        Enter your email address
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block" flex="50">
                                <label for="phone">Phone Number</label>
                                <input ng-pattern="/^[0-9]{1,7}$/" name="phone" required maxlength="9" minlength="9"
                                ng-model="vm.user.phone"  id="phone"  ng-disabled="vm.isRenew"/>
                                <div ng-messages="registerForm.phone.$error" ng-hide="registerForm.phone.$valid">
                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                       Please enter your phone number with no other symbols or spaces.  Just the 9 numbers!
                                    </div>
                                </div>
                            </md-input-container>
                        </div>

                        <div layout="row" ng-if="!vm.isRenew">
                            <md-input-container class="md-block" flex="50">
                                <label for="password">Password</label>
                                <input required type="password" name="password" ng-model="vm.user.password"
                                       minlength="6" md-maxlength="30" id="password"/>

                                <div ng-messages="registerForm.password.$error" role="alert" ng-hide="registerForm.password.$valid">
                                    <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                        Password should be at least 6 until 30 characters
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block" flex="50">
                                <label for="confirm">Confirm Password</label>
                                <input required type="password" name="confirm" ng-model="vm.user.confirmPassword"
                                       minlength="6" md-maxlength="30" pass-compare="vm.user.password" id="confirm"/>

                                <div ng-messages="registerForm.confirm.$error" role="alert" ng-hide="registerForm.confirm.$valid">
                                    <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                        Passwords are not the same
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <h3>payment info</h3>
                        <section ng-if="vm.isRenew">
                            You will use same Payment information as previous account.
                        </section>
                        <section ng-if="!vm.isRenew">
                            <div layout="row">

                                <md-input-container class="md-block" flex="50">
                                    <label for="creditCard">Credit Card Number</label>
                                    <input
                                        name="creditCard"
                                        required
                                        ng-model="vm.user.card.number"
                                        ui-mask="9999-9999-9999-9999"
                                        id="creditCard"
                                        />

                                    <div ng-messages="registerForm.creditCard.$error" ng-hide="registerForm.creditCard.$valid">
                                        <div ng-message-exp="['required', 'pattern']">
                                            Enter a valid credit card number
                                        </div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block" flex="50">
                                    <label for="exp_date">Expiration Date</label>
                                    <input
                                        name="expDate"
                                        required
                                        ng-model="vm.user.card.date"
                                        ui-mask="99/9999"
                                        id="exp_date"
                                        />

                                    <div ng-messages="registerForm.expDate.$error" ng-hide="registerForm.expDate.$valid">
                                        <div ng-message-exp="['required', 'pattern']">
                                            Enter a valid expiration date
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>

                            <div layout="row">
                                <md-input-container class="md-block" flex="50">
                                    <label for="code">Security Code</label>
                                    <input name="cvc" required ng-model="vm.user.card.cvc" type="password"
                                        ng-maxlength="4" ng-minlength="3" id="code"/>

                                    <div ng-messages="registerForm.cvc.$error" ng-hide="registerForm.cvc.$valid">
                                        <div ng-message-exp="['required', 'pattern']">
                                            Enter a valid security code (CVV)
                                        </div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block" flex="50">
                                    <label for="billing">Billing Address</label>
                                    <input name="address" required ng-model="vm.user.billingAddress"
                                        id="billing"/>

                                    <div ng-messages="registerForm.address.$error" ng-hide="registerForm.address.$valid">
                                        <div ng-message-exp="['required', 'pattern']">
                                            Enter a valid billing address (ZIP code)
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                        </section>

                        <md-input-container class="md-block">
                            <md-checkbox name="tos" ng-model="vm.user.check" required>
                                I agree with <span class="text-main-color"><a target='_blank' ng-click="vm.openTOS($event)"><i class="fa fa-external-link" aria-hidden="true"></i> Terms & Conditions</a></span>
                            </md-checkbox>
                            <div ng-messages="registerForm.tos.$error" ng-hide="registerForm.tos.$modelValue">
                                <div ng-message="required">
                                    You must accept the terms of service before you can proceed.
                                </div>
                            </div>
                        </md-input-container>
                    </form>
                </div>
            </div>
        </article>
        <div class="row">
            <div class="next-bottom">
                <button class="col-md-12 finish" ng-click="vm.signup($event, registerForm)">
                    <span>Finish
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
