<div class="container signup">
    <div class="row">
        <header class="container">
            <div class="col-md-12">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                <a ui-sref="step1">leave</a>
            </div>
            <div class="header-contents">
                <div class="col-md-3 header-logo">
                    <a ui-sref="login"><img src="../images/logo.png" alt="logo"></a>
                </div>
                <div class="col-md-6 header-caption">
                    <h1>build with an expert</h1>
                </div>
                <div class="col-md-3 header-step">
                    <div>
                        <span>Step</span>
                        <div class="oval">
                            <span>1</span>
                            <!--<a ui-sref="step1"><span>1</span></a>-->
                        </div>
                        <div class="oval oval-active">
                            <span>2</span>
                        </div>
                        <div class="oval">
                            <span>3</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <article class="container">
            <div class="build-description col-md-8 col-md-offset-2">
                    <p class="text-center">Want some help figuring out how exactly to grow your business?</p>
                    <p>We’ve got you! You can work with one of our experienced and wise SLAPexperts to help you build the
                            BEST plan. In about 30 days you will be focused, clear, challenged and supported - and armed with
                            a rock solid plan to bring to life!</p>
            </div>
            <div class="col-md-6 col-md-offset-3 ">
                <div class="col-md-6" ng-repeat="build in vm.builds" ng-click="vm.chooseBuild(build,$event)">
                    <div class="rectangle build" ng-class="{'rectangle-active': build._id == vm.build._id}">
                        <div class="rectangle-header">
                            <h3 ng-show="build.buildType == 2">pay now</h3>
                            <h3 ng-hide="build.buildType == 2">payment plan</h3>
                        </div>
                        <div class="rectangle-content rectangle-content-flex" ng-show="build.buildType == 2">
                            <div><div class="amount-plan">
                                <span>{{ build.costProduct}}</span>
                            </div>
                                <p class="text-center">one time</p></div>
                        </div>
                        <div class="rectangle-content" ng-hide="build.buildType == 2">
                            <div class="amount-plan">
                                <span>{{ build.amountFirstPayment}}</span>
                            </div>
                            <p class="text-center">per today</p>

                            <div class="text-center plus">
                                <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                            </div>
                            <div class="amount-plan">
                                <span>{{ build.costProduct}}</span>
                            </div>
                            <p class="text-center">per month</p>
                        </div>
                        <div class="rectangle-footer">
                            <div class="text-center">
                                <p>SLAPbuild Total Cost</p>
                                <span>${{ build.buildType == 2 ? build.costProduct : vm.calculateFullCost(build)}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-6" ng-click="vm.chooseBuild(vm.builds.installments,$event)">-->
                    <!--<div class="rectangle build ">-->
                        <!--<div class="rectangle-header">-->
                            <!--<h3>payment plan</h3>-->
                        <!--</div>-->
                        <!--<div class="rectangle-content">-->
                            <!--<div class="amount-plan">-->
                                <!--<span>{{ vm.builds.installments.amountFirstPayment}}</span>-->
                            <!--</div>-->
                            <!--<p class="text-center">per today</p>-->

                            <!--<div class="text-center plus">-->
                                <!--<i class="fa fa-plus fa-2x" aria-hidden="true"></i>-->
                            <!--</div>-->
                            <!--<div class="amount-plan">-->
                                <!--<span>{{ vm.builds.installments.costProduct}}</span>-->
                            <!--</div>-->
                            <!--<p class="text-center">per month</p>-->
                        <!--</div>-->
                        <!--<div class="rectangle-footer">-->
                            <!--<div class="text-center">-->
                                <!--<p>SLAPbuild Total Cost</p>-->
                                <!--<span>${{ vm.builds.installments.fullBuildCost}}</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </article>
        <div class="container next-bottom">
            <div class="col-md-12">
                <a ui-sref="step3" ng-show="!vm.active">No, thanks, next</a>
                <a ui-sref="step3" ng-hide="!vm.active">Next</a>
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
