
<div class="md-list-item-text" layout="row" flex layout-align="space-between center" ng-click="$ctrl.openItemDialog()($event, 'edit', $ctrl.item.type, $ctrl.item)">
    <span flex style="overflow: hidden; text-overflow: ellipsis;">{{$ctrl.title}}</span>
    <span flex="11" ng-if="$ctrl.item.type == 'sales'" class="text-center">
        <small>
            SALE UNITS
            <br/>   
            {{$ctrl.item.saleUnit}} Units
        </small>
    </span>
    <span flex="11"  class="text-center">
        <small>
            DUE DATE
            <br/>
            {{$ctrl.item.dueDate | date:'yyyy-MM-dd'}}
        </small>
    </span>
    <span flex="10" class="m-w-es-5" layout="column" layout-align="center space-around">
        <uib-progressbar  class="one-line-bar" max="100" value="$ctrl.item.progress" style="height: 12px"><span style="color:white; white-space:nowrap;"></span></uib-progressbar>
        <small class="text-center" style="font-size: 12px">{{$ctrl.item.progress}}%</small>
    </span>
</div>
<div  flex="3">
    <a class="icon-btn" ng-click="$ctrl.openDeleteItemDialog()($event, $ctrl.item)">
        <i class="material-icons">delete_forever</i>
    </a>
</div>