<div class="slap-page your-statement" scroll-top>

    <div class="panel panel-default">

        <div class="panel-body">

            <button-switch visible="showVideoBlock"></button-switch>

            <video-block visible="showVideoBlock"></video-block>

        </div>

    </div>

    <div class="panel panel-default">

        <div class="panel-body static-text-panel">

            <button-switch visible="showStaticTextBlock"></button-switch>

            <slap-static-text visible="showStaticTextBlock"></slap-static-text>

        </div>

    </div>

    <div class="panel panel-default">

        <div class="panel-body slap-work-panel">

            <div class="row">
                <div class="col-md-12">
                    <button-switch visible="showFormBlock"></button-switch>

                    <p class="logo panel-title">ACTION</p>
                </div>
            </div>

            <!--<div class="row sample-show-hide" ng-hide="showFormBlock">
                <div class="col-md-11 padding-l-r-30 margin-b-24">
                    <p class="heading2"></p>
                </div>
            </div>-->

            <div class="row sample-show-hide" ng-hide="showFormBlock">

                <div class="col-md-12 row-flex padding-l-r-30 margin-b-38">

                    <span class="line-text margin-r-20" data-ng-bind="::data.businessName"></span>

                    <select ng-model="data.first"
                            class="first-select active margin-r-20 dropdown-box outline-0">
                        <option value="0">Does</option>
                        <option value="1">Provides</option>
                        <option value="2">Sells</option>
                    </select>

                    <div class="input-box">
                        <input ng-model="data.second" type="text" id="second"
                               ng-class="{'active': data.second}"
                               class="second-input outline-0" required>
                        <label class="label" for="second">What</label>
                    </div>

                </div>

                <div class="col-md-12 row-flex padding-l-r-30 margin-b-38">

                    <select ng-model="data.third"
                            class="third-select active margin-r-20 dropdown-box outline-0">
                        <option value="0">For</option>
                        <option value="1">To</option>
                    </select>

                    <div class="input-box">
                        <input ng-model="data.fourth" type="text" id="fourth"
                               ng-class="{'active': data.fourth}"
                               class="fourth-input margin-r-20 outline-0" required>
                        <label class="label" for="fourth">Whom</label>
                    </div>

                    <span class="line-text margin-r-20">on a</span>

                    <select ng-model="data.fifth"
                            class="fifth-select active margin-r-20 dropdown-box outline-0">
                        <option value="0">Market size</option>
                        <option value="1">Local</option>
                        <option value="2">Regional</option>
                        <option value="3">National</option>
                        <option value="4">Global</option>
                    </select>

                    <span class="line-text">scale</span>

                </div>

                <!--<div class="col-md-9 col-xs-12 margin-b-38 padding-l-r-30">
                    <p class="line-text">because I will grow my business this year I will be able to
                        <span class="aqua-green">{{data.privilegeInfo.result}}</span> and I am committed to
                        <span class="aqua-green">{{privilegesData.second[+data.privilegeInfo.text]}} {{data.privilegeInfo.additionalText}}</span>
                    </p>
                </div>-->

            </div>


        </div>
    </div>
</div>

<slap-footer send="sendData" forward="forward"></slap-footer>