<div class="slap-excute" layout="column" ng-if="!resultPage">


	<md-card flex="100" layout="row">
		<md-card-content flex="100" layout="row" layout-align="space-around center">
			<span flex="15"  class="text-color-strong"> Revenue Status&nbsp;&nbsp;&nbsp; </span>
			<section flex="70">
				<uib-progressbar class="one-line-bar" max="100" value="dashData.TRevenueGoalPercent"><span style="color:white; white-space:nowrap;">{{dashData.TRevenueGoalPercent}}%</span></uib-progressbar>
			</section>
			<md-button flex="15" ng-click="changeView()">Review Results&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></md-button>
		</md-card-content>
	</md-card>


	<section  flex=100 layout="row">
		<!-- ACTION CARD -->
		<md-card flex=33>
			<md-card-content layout="row">
				<section flex=50 layout-margin  class="inline-flx" >
					<section class="progress-container" layout="row" layout-align="center center">
						<round-progress
					    max="dashData.quaterTotalActions"
					    current="dashData.quaterClosedActions"
					    color="{{colorAction}}"
					    bgcolor="{{progress.bgcolor}}"
					    radius="{{progress.radius}}"
					    stroke="{{progress.stroke}}"
					    semi="false"
					    rounded="true"
					    clockwise="true"
					    responsive="true"
					    duration="{{progress.duration}}"
					    animation="{{progress.animation}}"
					    animation-delay="{{progress.delay}}">
					    </round-progress>
					    <section class="progress-text">

							<p class="text-color-strong">{{dashData.quaterClosedActions}}/{{dashData.quaterTotalActions}}</p>
					    	<small>Q{{currentQuater.nth}} ACTION ITEMS COMPLETED</small>
					    </section>
					</section>


				</section>
				<section flex=50 layout="column" layout-align="center center">
					<p>
						<span  class="md-headline text-color-middle">Take Action</span>
						<br/>
					</p>

					<md-button class="md-primary" ng-click="openItemDialog($event, 'add', 'action')">add action</md-button>
				</section>
			</md-card-content>
		</md-card>
		<!-- ACTION CARD ENDS-->
		<!-- ACTION CARD -->
		<md-card flex=33>
			<md-card-content layout="row" >
				<section flex=50 layout-margin   class="inline-flx" >
					<section class="progress-container" layout="row" layout-align="center center">
						<round-progress
					    max="100"
					    current="dashData.cQRevenueGoalPercent"
					    color="{{colorSales}}"
					    bgcolor="{{progress.bgcolor}}"
					    radius="{{progress.radius}}"
					    stroke="{{progress.stroke}}"
					    semi="false"
					    rounded="true"
					    clockwise="true"
					    responsive="true"
					    duration="{{progress.duration}}"
					    animation="{{progress.animation}}"
					    animation-delay="{{progress.delay}}">
					    </round-progress>
					    <section class="progress-text">

					    	<p class="text-color-strong">{{dashData.cQRevenueGoalPercent}}%</p>
					    	<small>Of your Q{{currentQuater.nth}} goal complete</small>
					    </section>
					</section>

				</section>
				<section flex=50 layout="column" layout-align="center center">
						<span  class="md-headline text-color-middle">Close Sales</span>
						<span class="gra-text">
							You have {{dashData.daysLeft}} days to reach your Q{{currentQuater.nth}} goal.
						</span>

					<md-button class="md-primary"  ng-click="openItemDialog($event, 'add', 'sales')">add sales</md-button>
				</section>
			</md-card-content>
		</md-card>
		<!-- ACTION CARD ENDS-->
		<!-- ACTION CARD -->
		<md-card flex=33>
			<md-card-content layout="row">
				<section flex=50 layout-margin  class="inline-flx">
					<section class="progress-container" layout="row" layout-align="center center">
						<round-progress
					    max="dashData.daysPassed"
					    current="dashData.daysReflected"
					    color="{{colorReflextion}}"
					    bgcolor="{{progress.bgcolor}}"
					    radius="{{progress.radius}}"
					    stroke="{{progress.stroke}}"
					    semi="false"
					    rounded="true"
					    clockwise="true"
					    responsive="true"
					    duration="{{progress.duration}}"
					    animation="{{progress.animation}}"
					    animation-delay="{{progress.delay}}">
					    </round-progress>
					    <section class="progress-text">
					    	<p class="text-color-strong">{{dashData.daysReflected}}/{{dashData.daysPassed}}</p>
					    	<small>TIMES YOU HAVE PAUSED & REFLECTED IN Q{{currentQuater.nth}}.</small>
					    </section>
					</section>

				</section>
				<section flex=50 layout="column" layout-align="center center">
					<p>
						<span  class="md-headline text-color-middle">Pause & Reflect</span>
						<br/>
					</p>

					<md-button class="md-primary" ng-click="openItemDialog($event, 'add', 'reflextion')">reflect now</md-button>
				</section>
			</md-card-content>
		</md-card>
		<!-- ACTION CARD ENDS-->
	</section>



	<section layout="column" layout="column" ng-if="mainView=='tab'">

		<md-toolbar>
			<div class="md-toolbar-tools" layout="row">
				<md-tabs md-selected="tabs.selectedIndex" flex="50">
					<md-tab id="tab-upcoming-id" aria-controls="tab-upcoming">UPCOMING</md-tab>
					<md-tab id="tab-done-id" aria-controls="tab-done">DONE</md-tab>
				</md-tabs>
				<div flex="50" layout="row" layout-align="end center" class="md-body-1">
					<span>Filter By Type&nbsp&nbsp</span>
					<slap-color-switch color="{{colorAction}}" name="Actions" value="filter.showActions" static="false"></slap-color-switch>&nbsp&nbsp
					<slap-color-switch color="{{colorSales}}" name="Sales" value="filter.showSales"  static="false"></slap-color-switch>&nbsp&nbsp
					<slap-color-switch color="{{colorReflextion}}" name="Reflection" value="filter.showReflextion"  static="false"></slap-color-switch>
				</div>
			</div>
		</md-toolbar>

		<md-content layout-padding flex class="tab-content">
		<ng-switch on="tabs.selectedIndex" class="tabpanel-container">
			<div role="tabpanel" id="tab-upcoming" aria-labelledby="tab-upcoming-id" ng-switch-when="0" md-swipe-left="tabs.next()" md-swipe-right="tabs.previous()" layout="column">
				<md-card layout="column"  flex layout-fill ng-cloak>

					<md-content style="height: auto">
						<!--Original design-->
						<!--<section >
							<md-subheader class="text-color-strong">Today</md-subheader>
							<md-list class="text-color-main">
								<md-list-item ng-repeat-start="item in filteredForTabView('today',  'upcoming')" ng-class="{'list-item-action': item.type=='action','list-item-sales': item.type=='sales','list-item-reflextion': item.type=='reflextion'} " layout="row">

									<slap-list-item item="item" title="{{item.type=='sales' ? revenues[item.title-1].name : item.title}}" open-item-dialog="openItemDialog" open-delete-item-dialog="openDeleteItemDialog" layout="row" flex="100"></slap-list-item>
								</md-list-item>
								<md-divider ng-if="!$last" ng-repeat-end></md-divider>
							</md-list>
						</section>-->
						<!--filtered('week',  'upcoming') quater year...-->

					</md-content>
				</md-card>
			</div>

			<div role="tabpanel" id="tab-done" aria-labelledby="tab-done-id" ng-switch-when="1" md-swipe-left="tabs.next()" md-swipe-right="tabs.previous()">

				<md-card layout="column"  flex layout-fill ng-cloak>

				</md-card>
			</div>
		</ng-switch>
		</md-content>
	</section>


	<section layout="column" layout="column" ng-if="mainView=='list'" class="m-t-es-50">
		<md-toolbar layout="row" layout-align="start center ">
			<md-select ng-model="filter.period" flex="50" class="select-menu">
				<md-option ng-value="'week'">This Week</md-option>
				<md-option ng-value="'month'">This Month</md-option>
				<md-option ng-repeat="quaterID in [0,1,2,3]" ng-value="'quater'+quaterID" ng-selected="$first">{{quaterID + 1 == currentQuater.nth ? 'This Quarter' : 'Q' + (quaterID+1)}}</md-option>
			</md-select>
		</md-toolbar>
		<md-toolbar>
			<div class="md-toolbar-tools" layout="row">
				<md-tabs md-selected="tabs.selectedIndex" flex="50">
					<md-tab id="tab-overdue-id" aria-controls="tab-overdue" ng-click="filter.status='overdue'">OVERDUE</md-tab>
					<md-tab id="tab-upcoming-id" aria-controls="tab-upcoming" ng-click="filter.status='upcoming'">UPCOMING</md-tab>
					<md-tab id="tab-done-id" aria-controls="tab-done" ng-click="filter.status='done'">DONE</md-tab>
				</md-tabs>
				<div flex="50" layout="row" layout-align="end center" class="md-body-1">
					<span>Filter By Type&nbsp&nbsp</span>
					<slap-color-switch color="{{colorAction}}" name="Actions" value="filter.showActions" static="false"></slap-color-switch>&nbsp&nbsp
					<slap-color-switch color="{{colorSales}}" name="Sales" value="filter.showSales"  static="false"></slap-color-switch>&nbsp&nbsp
					<slap-color-switch color="{{colorReflextion}}" name="Reflection" value="filter.showReflextion"  static="false"></slap-color-switch>
				</div>
			</div>
		</md-toolbar>

		<md-content layout-padding flex class="tab-content">
			<md-card layout="column"  flex layout-fill ng-cloak>

				<md-content style="height: auto">
					<section >
						<md-list class="text-color-main">
							<md-list-item ng-repeat-start="item in filteredForListView()" ng-class="{'list-item-action': item.type=='action','list-item-sales': item.type=='sales','list-item-reflextion': item.type=='reflextion'} " layout="row">
								<slap-list-item item="item" title="{{item.type=='sales' ? revenues[item.title-1].name : (item.type=='reflextion' ? capitalize(item.reflextWhat) + 'ly Reflection' : item.title )}}" open-item-dialog="openItemDialog" open-delete-item-dialog="openDeleteItemDialog" layout="row" layout-align='space-between center' flex="100"></slap-list-item>
							</md-list-item>
							<md-divider ng-if="!$last" ng-repeat-end></md-divider>
						</md-list>
					</section>


				</md-content>
			</md-card>

		</md-content>
	</section>
</div>


<div class="slap-excute" layout="column" ng-if="resultPage">
    <section layout="row" layout-align="start center">
        <md-button ng-click="changeView()"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Back</md-button>
    </section>

	<section flex=100 layout="row">
		<!-- ACTION CARD -->
		<md-card flex=50>
			<md-card-content layout="row">
				<section flex=30 layout-margin  class="m-r-es-20">
					<section class="progress-container" layout="row" layout-align="center center">
						<round-progress
					    max="dashData.totalQuaterRevenue"
					    current="dashData.closedQuaterRevenue"
					    color="{{colorSales}}"
					    bgcolor="{{progress.bgcolor}}"
					    radius="{{progress.radius}}"
					    stroke="{{progress.stroke}}"
					    semi="false"
					    rounded="false"
					    clockwise="true"
					    responsive="true"
					    duration="{{progress.duration}}"
					    animation="{{progress.animation}}"
					    animation-delay="{{progress.delay}}">
					    </round-progress>
					    <section class="progress-text">
					    	<p class="text-color-strong">{{ dashData.closedQuaterRevenue | currency}}</p>
					    	<small>Out of {{dashData.totalQuaterRevenue | currency}} Q{{currentQuater.nth}} Revenue goal</small>
					    </section>
					</section>


				</section>
				<section flex=70 layout="column" layout-align="center center">
					<p>
						<span  class="md-headline text-color-middle">Your Q{{currentQuater.nth}} Goal Progress</span>
						<br/>
						<small>
							You need to sell {{ dashData.totalQuaterRevenue | currency}} to reach your Q{{currentQuater.nth}} revenue goal.
						</small>
					</p>

					<md-button class="md-primary"  ng-click="openItemDialog($event, 'add', 'sales')">add sales</md-button>
				</section>
			</md-card-content>
		</md-card>
		<!-- ACTION CARD ENDS-->
		<!-- ACTION CARD -->
		<md-card flex=50>
			<md-card-content layout="row">
				<section flex=30 layout-margin  class="m-r-es-20">
					<section class="progress-container" layout="row" layout-align="center center">
						<round-progress
					    max="dashData.totalYearRevenue"
					    current="dashData.closedYearRevenue"
					    color="{{colorSales}}"
					    bgcolor="{{progress.bgcolor}}"
					    radius="{{progress.radius}}"
					    stroke="{{progress.stroke}}"
					    semi="false"
					    rounded="false"
					    clockwise="true"
					    responsive="true"
					    duration="{{progress.duration}}"
					    animation="{{progress.animation}}"
					    animation-delay="{{progress.delay}}">
					    </round-progress>
					    <section class="progress-text">
					    	<p class="text-color-strong">{{ dashData.closedYearRevenue | currency}}</p>
                            <small>Out of {{ dashData.totalYearRevenue | currency }} annual revenue goal</small>
					    </section>
					</section>

				</section>
				<section flex=70 layout="column" layout-align="center center">
					<p>
						<span class="md-headline text-color-middle">Your Annual Goal Progress</span>
						<br/>
						<small>
							You need to sell {{ dashData.totalYearRevenue | currency }} to reach your annual revenue goal.
						</small>
					</p>

					<md-button class="md-primary"  ng-click="openItemDialog($event, 'add', 'sales')">add sales</md-button>
				</section>
			</md-card-content>
		</md-card>
		<!-- ACTION CARD ENDS-->
	</section>



	<section layout="column" layout="column" class="m-t-es-50 m-w-es-10">

        <div flex="100" layout="row" layout-align="space-between center" class="md-body-1 m-b-es-20">
            <h4  class="text-color-strong">Results By Revenue Streams</h4>
			<section layout="row" layout-align="end center">
				<span style="font-size: 16px;font-weight: 500;line-height: 1;text-align: right;color: #33444d;">Filter By Quater&nbsp&nbsp</span>
				<slap-color-switch color="{{colorProgress}}" name="Q1" value="filter.showQ" ng-click="filterSales()" static="false" quater="1"></slap-color-switch>&nbsp&nbsp
				<slap-color-switch color="{{colorProgress}}" name="Q2" value="filter.showQ"  ng-click="filterSales()"  static="false" quater="2" ></slap-color-switch>&nbsp&nbsp
				<slap-color-switch color="{{colorProgress}}" name="Q3" value="filter.showQ"  ng-click="filterSales()"  static="false" quater="3"  ></slap-color-switch>&nbsp&nbsp
				<slap-color-switch color="{{colorProgress}}" name="Q4" value="filter.showQ "  ng-click="filterSales()"  static="false" quater="4" ></slap-color-switch>&nbsp&nbsp
				<slap-color-switch color="{{colorProgress}}" name="Year" value="filter.showQ "  ng-click="filterSales()"  static="false" quater="5" ></slap-color-switch>
			</section>
		</div>
	</section>
	<section layout="column" layout="column" class="m-t-es-50 m-w-es-10">
		<md-card style="font-style: normal; font-size: 18px;" layout="column"  flex layout-fill ng-cloak>

			<md-list style="color:black;" class="text-color-main">
				<md-list-item ng-repeat-start="revenueGrid in gridData | filter: { revenue: { deleted: false } }" layout="column" layout-align="center stretch">
					<section layout="row" layout-align="space-between center">
						<a ng-if="!revenueGrid.showDetail" ng-click="revenueGrid.showDetail=!revenueGrid.showDetail" flex="5"><i class="material-icons">add_circle</i></a>
						<a ng-if="revenueGrid.showDetail" ng-click="revenueGrid.showDetail=!revenueGrid.showDetail"  flex="5"><i class="material-icons">remove_circle</i></a>

						<section ng-click="revenueGrid.showDetail=!revenueGrid.showDetail" flex="20">{{revenueGrid.revenue.name}}</section>

						<section flex class="m-w-es-20" style="position:relative">
							<uib-progress style="display: flex;" class="two-line-bar" 	max="revenueGrid.totalSalesItemCount" ng-if="revenueGrid.totalSalesItemCount != 0">
								<uib-bar class="actual" value="revenueGrid.actualSalesItemCount" ng-if="((revenueGrid.actualSalesItemCount !=0) && (revenueGrid.projectedSalesItemCount != 0))">
								</uib-bar>
								  <uib-bar class="actual" value="revenueGrid.actualSalesItemCount" ng-if="!((revenueGrid.actualSalesItemCount !=0) && (revenueGrid.projectedSalesItemCount != 0))">
								</uib-bar>
								<uib-bar class="projected" style="margin-left: -11px" value="revenueGrid.projectedSalesItemCount" ng-if="revenueGrid.projectedSalesItemCount != 0">
								</uib-bar>
							</uib-progress>
							<uib-progress style="display: flex;" class="two-line-bar" 	max="revenueGrid.actualSalesItemCount+revenueGrid.projectedSalesItemCount" ng-if="!(revenueGrid.totalSalesItemCount != 0) && ((revenueGrid.actualSalesItemCount !=0)||(revenueGrid.projectedSalesItemCount!=0))">
								<uib-bar class="actual" value="revenueGrid.actualSalesItemCount" ng-if="((revenueGrid.actualSalesItemCount !=0) && (revenueGrid.projectedSalesItemCount != 0))">
								</uib-bar>
								  <uib-bar class="actual" value="revenueGrid.actualSalesItemCount" ng-if="!((revenueGrid.actualSalesItemCount !=0) && (revenueGrid.projectedSalesItemCount != 0))">
								</uib-bar>
								<uib-bar class="projected" style="margin-left: -11px" value="revenueGrid.projectedSalesItemCount" ng-if="revenueGrid.projectedSalesItemCount != 0">
								</uib-bar>
							</uib-progress>

							<!-- revenueGrid.actualSalesItemCount+revenueGrid.projectedSalesItemCount -->
							<span class="progress-span">
					{{revenueGrid.projectedSalesItemCount}} projected sales unit </span>
						</section>
						<span style="text-transform: lowercase;" flex="20">
							{{revenueGrid.actualSalesItemCount}}/{{revenueGrid.totalSalesItemCount}} SALES UNITS
						</span>
						<md-button flex="10" class="md-primary"  ng-click="openItemDialog($event, 'add', 'sales',revenueGrid.revenue)">add sales</md-button>

					</section>
					<md-divider style="position: relative"></md-divider>
					<section  ng-if="revenueGrid.showDetail && revenueGrid.gridOptions.data.length == 0">
						<span class="text-center">No Sales Items</span>
					</section>

					<section  ng-if="revenueGrid.showDetail && revenueGrid.gridOptions.data.length >=1">


						<div grid-data class='slap-grid' grid-options="revenueGrid.gridOptions" grid-actions="revenueGrid.gridActions">
							<table  class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp table table-responsive table-hover">
								<thead style="background-color: rgb(244, 244, 244);">
									<tr style="font-style: normal; font-weight: normal; font-size: 10px; color: black;">
										<!--<th sortable="code" class="sortable mdl-data-table__cell--non-numeric">
											<span>Order #</span>
										</th>-->
										<th sortable="dueDate" class="sortable">
											<span>DATE</span>
										</th>
										<th class="st-sort-disable th-dropdown">
											<md-select
														filter-by="typeStr"
														filter-type="select"
														ng-model="selectedTypeStr"
														placeholder="Filter By Type"
														ng-change="filter()">
												<md-option value="">All Types</md-option>
												<md-option value="Closed Sale">
													Closed Sale
												</md-option>
												<md-option value="Projected Sale">
													Projected Sale
												</md-option>
											</md-select>
										</th>
										<th sortable="saleUnit" class="sortable">
											<span>SALES UNIT</span>
										</th>
										<th sortable="amount" class="sortable">
											<span>AMOUNT</span>
										</th>
										<th sortable="salesGoalShare" class="sortable">
											<span>SALES GOAL SHARE</span>
										</th>
										<th sortable='notes' class="sortable">
											<span>NOTES</span>
										</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr style="font-family: Arial, sans-serif !important; font-style: normal; font-weight: normal; font-size: 15px; color: black;" grid-item >
										<td style="padding-top: 20px;" ng-bind="item.dueDate | date:'MM/dd/yyyy'"></td>
										<!--<td class="mdl-data-table__cell--non-numeric">
											<span ng-bind="item.code"></span>
										</td>-->
										<td style="padding-top: 20px;" ng-bind="item.typeStr"></td>
										<td style="padding-top: 20px;" ng-bind="item.saleUnit + ' Units'"></td>

										<td style="padding-top: 20px;">{{item.amount | currency}}</td>
										<td style="padding-top: 20px;">{{item.salesGoalShare}}%</td>
										<td style="padding-top: 20px;"><span flex style="overflow: hidden; text-overflow: ellipsis;">{{item.notes}}</span></td>
										<td style="padding-top: 20px;">
											<md-button ng-click="openItemDialog($event, 'edit', item.type, item)" style="margin:0px">
												Edit &nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
											</md-button>

										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</section>
				</md-list-item>
				<md-divider ng-if="!$last" ng-repeat-end></md-divider>
			</md-list>
		</md-card>
	</section>

</div>
