<md-dialog aria-label="List dialog" class="activity-dialog p-t-es-40">
	<section layout="column">
		<form layout="row" layout-wrap layout-align="center center" name="form">
			
				<h1>Choose meeting fee</h1>
			
		</form>
	</section>

	<md-dialog-actions >
		<md-button ng-click="dialogCharge(0)" class="md-primary">
			Charge 1:1 Missed Meeting Fee 
		</md-button>
		<md-button ng-click="dialogCharge(1)" class="md-primary">Charge Group Missed Meeting Fee</md-button>

	</md-dialog-actions>
</md-dialog>