<div class="privilege-and-responsibility container" scroll-top>

    <div class="panel panel-default margin-t-40">

        <div class="panel-body">

            <button-switch visible="showVideoBlock"></button-switch>

            <video-block visible="showVideoBlock"></video-block>

        </div>

    </div>

    <div class="panel panel-default margin-t-40">

        <div class="panel-body static-text-panel">

            <button-switch visible="showStaticTextBlock"></button-switch>

            <slap-static-text visible="showStaticTextBlock"></slap-static-text>

        </div>

    </div>

    <div class="row sample-show-hide" ng-show="showNotice">
        <div class="col-md-12">
            <div class="notice-box col-md-12 sample-show-hide">
                <span>You can choose only one highes priority</span>
                <span class="close-btn" ng-click="closeNotice()"></span>
            </div>
        </div>
    </div>

    <div class="panel panel-default margin-t-40 margin-b-140">

        <div class="panel-body">

            <button-switch visible="showDropdownBlock"></button-switch>

            <h3 class="logo padding-l-15">SLAP<span class="aqua-green">work</span></h3>

            <div class="sample-show-hide" ng-hide="showDropdownBlock">

                <div class=" form-group">
                    <div class="col-md-8 col-xs-12">
                        <label for="first" class="label-text control-label">Growing my business allows me to provide for my family</label>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <select id="first" ng-model="data.first" ng-change="checkDropdownModels(data.first, 'provide for my family')" class="dropdown-box outline-0"
                                ng-class="{'active': data.first}">
                            <option ng-repeat="item in options">{{item.label}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-8 col-xs-12">
                        <label for="second" class="label-text control-label">Growing my business allows me to create jobs</label>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <select id="second" ng-model="data.second" ng-change="checkDropdownModels(data.second, 'create jobs')"
                                class="dropdown-box outline-0" ng-class="{'active': data.second}">
                            <option ng-repeat="item in options">{{item.label}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-8 col-xs-12">
                        <label for="third" class="label-text control-label">Growing my business allows me to give more to my community</label>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <select id="third" ng-model="data.third" ng-change="checkDropdownModels(data.third, 'give more to my community')"
                                class="dropdown-box outline-0" ng-class="{'active': data.third}">
                            <option ng-repeat="item in options">{{item.label}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group margin-b-50">
                    <div class="col-md-8 col-xs-12">
                        <label for="fourth" class="label-text control-label">Growing my business means I am helping the economy</label>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <select id="fourth" ng-model="data.fourth" class="dropdown-box outline-0" ng-change="checkDropdownModels(data.fourth, 'helping the economy')"
                                ng-class="{'active': data.fourth}">
                            <option ng-repeat="item in options">{{item.label}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12 col-xs-12 margin-b-50" ng-show="showInfoBlock">

                    <h4>{{data.businessName}} Impact Goal</h4>

                    <p>Because I will grow my business this year I will be able to {{data.result}} and I am committed to
                         <select ng-model="data.text" class="dropdown-box goal-select outline-0">
                             <option value="0">providing</option>
                             <option value="1">creating</option>
                             <option value="2">giving</option>
                             <option value="3">helping</option>
                         </select>
                        <input ng-model="data.additionalText" class="outline-0" type="text">
                    </p>

                </div>

            </div>
        </div>
    </div>

</div>

<slap-footer send="sendData()" forward="forward"></slap-footer>