<div class="slap-page" scroll-top>

    <div class="panel panel-default ">

        <div class="panel-body">

            <button-switch visible="showVideoBlock"></button-switch>

            <video-block visible="showVideoBlock"></video-block>

        </div>

    </div>

    <div class="panel panel-default ">

        <div class="panel-body static-text-panel">

            <button-switch visible="showStaticTextBlock"></button-switch>

            <slap-static-text visible="showStaticTextBlock"></slap-static-text>

        </div>

    </div>

    <slap-notifications notifications="notifications" ></slap-notifications>
    
    <div class="panel panel-default">

        <div class="panel-body slap-work-panel">

            <button-switch visible="showDropdownBlock"></button-switch>

            <p class="logo panel-title">ACTION</p>

            <div class="sample-show-hide row" ng-hide="showDropdownBlock">

                <div class="form-group m-b-es-20">
                    <div class="col-md-8 col-xs-12">
                        <label for="first" class="control-label heading3">Growing my business allows me to provide for my family</label>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <select id="first" ng-model="data.first" ng-change="checkDropdownModels(data.first, 'provide for my family', 'first')" class="dropdown-box outline-0"
                                ng-class="{'active': data.first}" ng-if="data.first=='My primary driver' || !showInfoBlock">
                            <option ng-repeat="item in options">{{item.label}}</option>
                        </select>
                        <select id="first" ng-model="data.first" ng-change="checkDropdownModels(data.first, 'provide for my family')" class="dropdown-box outline-0"
                                ng-class="{'active': data.first}"  ng-if="data.first!='My primary driver' && showInfoBlock">
                            <option ng-repeat="item in availableOptions">{{item.label}}</option>
                        </select>
                    </div>
                </div>
                <div class="m-b-es-30 clearfix"></div>
                <div class="form-group">
                    <div class="col-md-8 col-xs-12">
                        <label for="second" class="heading3 control-label">Growing my business allows me to create jobs</label>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <select id="second" ng-model="data.second" ng-change="checkDropdownModels(data.second, 'create jobs', 'second')"
                                class="dropdown-box outline-0" ng-class="{'active': data.second}" ng-if="data.second=='My primary driver' || !showInfoBlock">
                            <option ng-repeat="item in options">{{item.label}}</option>
                        </select>

                        <select id="second" ng-model="data.second" ng-change="checkDropdownModels(data.second, 'create jobs')"
                                class="dropdown-box outline-0" ng-class="{'active': data.second}" ng-if="data.second!='My primary driver' && showInfoBlock">
                            <option ng-repeat="item in availableOptions">{{item.label}}</option>
                        </select>
                    </div>
                </div>
                <div class="m-b-es-30 clearfix"></div>
                <div class="form-group">
                    <div class="col-md-8 col-xs-12">
                        <label for="third" class="heading3 control-label">Growing my business allows me to give more to my community</label>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <select id="third" ng-model="data.third" ng-change="checkDropdownModels(data.third, 'give more to my community', 'third')"
                                class="dropdown-box outline-0" ng-class="{'active': data.third}" ng-if="data.third=='My primary driver'  || !showInfoBlock">
                            <option ng-repeat="item in options">{{item.label}}</option>
                        </select>
                        <select id="third" ng-model="data.third" ng-change="checkDropdownModels(data.third, 'give more to my community')"
                                class="dropdown-box outline-0" ng-class="{'active': data.third}" ng-if="data.third!='My primary driver' && showInfoBlock">
                            <option ng-repeat="item in availableOptions">{{item.label}}</option>
                        </select>
                    </div>
                </div>
                <div class="m-b-es-30 clearfix"></div>
                <div class="form-group">
                    <div class="col-md-8 col-xs-12">
                        <label for="fourth" class="heading3 control-label">Growing my business means I am helping the economy</label>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <select id="fourth" ng-model="data.fourth" class="dropdown-box outline-0" ng-change="checkDropdownModels(data.fourth, 'helpes the economy', 'fourth')"
                                ng-class="{'active': data.fourth}" ng-if="data.fourth=='My primary driver' || !showInfoBlock">
                            <option ng-repeat="item in options">{{item.label}}</option>
                        </select>
                        <select id="fourth" ng-model="data.fourth" class="dropdown-box outline-0" ng-change="checkDropdownModels(data.fourth, 'helpes the economy')"
                                ng-class="{'active': data.fourth}"  ng-if="data.fourth!='My primary driver' && showInfoBlock">
                            <option ng-repeat="item in availableOptions">{{item.label}}</option>
                        </select>
                    </div>
                </div>
                <div class="m-b-es-50 clearfix"></div>
                <div class="col-md-12 col-xs-12" ng-show="showInfoBlock">

                    <p class="heading2">{{data.businessName}} Impact Goal</p>

                    <p class="heading3">Because I will grow my business this year I will be able to <span class="aqua-green">{{data.result}}</span> and I am committed to
                         <select ng-model="data.text" class="dropdown-box goal-select outline-0">
                             <option value="0">providing</option>
                             <option value="1">creating</option>
                             <option value="2">giving</option>
                             <option value="3">helping</option>
                         </select>&nbsp;&nbsp;
                        <input ng-model="data.additionalText" class="outline-0" type="text">
                    </p>

                </div>

            </div>
        </div>
    </div>

</div>

<slap-footer send="sendData" forward="forward"></slap-footer>