


<div class="slap-page revenue-page personal-expanses" scroll-top>

    <div class="panel panel-default">

        <div class="panel-body">

            <button-switch visible="showVideoBlock"></button-switch>

            <video-block visible="showVideoBlock"></video-block>

        </div>

    </div>

    <div class="panel panel-default ">

        <div class="panel-body static-text-panel">

            <button-switch visible="showStaticTextBlock"></button-switch>

            <slap-static-text visible="showStaticTextBlock"></slap-static-text>

        </div>

    </div>

    <slap-notifications notifications="notifications" ></slap-notifications>
    <div class="panel panel-default">

        <div class="panel-body slap-work-panel">

            <button-switch visible="showContent"></button-switch>

            <p class="logo panel-title">ACTION</p>

            <div class="sample-show-hide" ng-hide="showContent">
                
                <div class="revenue-row">
                    <div class="revenue-name-container text-center">
                        Revenue Streams
                    </div>
                    <div class="revenue-price-container text-center">
                        Selling Price &amp; Variable Expenses
                    </div>
                    <div class="revenue-margin-container text-center">
                        Profit Margin
                    </div>
                    <div class="revenue-breakdown-container text-center show-border">
                        <div class="blue-circle"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span></div>
                        Revenue Breakdown
                    </div>
                    <!--<div class="revenue-unit-container text-right">
                        Unit of Sales
                    </div>-->
                </div>
                <div class="revenue-row" ng-repeat="revenue in data.revenues | filter:{deleted: false}">
                    <div class="revenue-name-container">
                        
                        <div class="input-box">
                            <input ng-model="revenue.name" type="text"
                                   class="monthly-cost outline-0" disabled
                                   ng-blur="checkRevenueCompleted(revenue, $event)"
                                   ng-class="{'active': revenue.name}" required>
                        </div>
                    </div>
                    <div class="revenue-price-container">
                        <div class="">
                            <div class="input-box">
                                <span class="currency">$</span>
                                <input ng-model="revenue.sellingPrice" type="text"
                                        class="monthly-cost outline-0"
                                        ng-blur="checkRevenueCompleted(revenue, $event)" disabled
                                        ng-keydown="checkValidity(revenue.sellingPrice, $event)"
                                        ng-class="{'active': revenue.sellingPrice}" required>
                            </div>
                        </div>

                        <div class="variable-row" ng-repeat="variableExpense in revenue.variableExpenses" ng-if="variableExpense.expense != '' && variableExpense.cost != '0.00'">
                            <div class="variable-name " style="width: 70%">
                                <div class="input-box">
                                    <input ng-model="variableExpense.expense" type="text"
                                            class="monthly-cost outline-0" disabled
                                            ng-blur="checkVariableExpenseCompleted(variableExpense, revenue, $event)"
                                            ng-class="{'active': variableExpense.expense}" required>

                                </div>
                            </div>
                            <div class="variable-price " style="width: 30%">
                                <div class="input-box">
                                    <span class="currency">-$</span>
                                    <input ng-model="variableExpense.cost" type="text"
                                            class="monthly-cost outline-0" disabled
                                            ng-blur="checkVariableExpenseCompleted(variableExpense, revenue, $event)"
                                            ng-keydown="checkValidity(variableExpense.cost, $event)"
                                            ng-class="{'active': variableExpense.cost}" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="revenue-margin-container text-center">
                        <span class="info-text">{{revenue.margin}}</span>
                    </div>
                    <div class="revenue-breakdown-container text-center show-border" ng-class=" 'row-' + calcHeight(revenue, $index + 0.5) + 'th'">
                        <div class="input-box">
                            
                            <input ng-model="revenue.breakdown" type="text"
                                    class="incidentals outline-0"
                                    ng-blur="doCalculation()"
                                    ng-keydown="checkValidity(revenue.breakdown, $event)"
                                    ng-class="{'active': revenue.breakdown}" required>
                            <span class="currency" ng-class="{'text-danger': data.totalBreakdown != 100}">%</span>
                        </div>
                    </div>

                    <!--<div class="revenue-unit-container text-center">
                        <span class="info-text">{{revenue.unit}} Units</span>

                    </div>-->
                </div>

                <div class="revenue-row">
                    <div class="revenue-name-container">
                    </div>
                    <div class="revenue-price-container">
                    </div>
                    <div class="revenue-margin-container ">
                    </div>
                    <div class="revenue-breakdown-container text-center show-border">
                        <span style="font-size: 14px" class="pull-left">Total</span>
                        
                        <div class="item-circle item-circle-check pull-right" ng-if="data.totalBreakdown == 100">
                            <i class="fa fa-check fa-lg text-white" aria-hidden="true"></i>
                        </div><br/>
                        <span>{{ data.totalBreakdown }}</span>
                        <span ng-class="{'text-danger': data.totalBreakdown != 100}">%</span>
                    </div>  
                    <!--<div class="revenue-unit-container">
                    </div>-->
                </div>
            </div>

        </div>
    </div>

</div>

<slap-footer send="sendData" forward="forward"></slap-footer>
