.partner-reports {
  padding-left: 50px !important;
}

.mar-button {
  margin-bottom: 27px;
  margin-left: 30px;
}

.reports {
  margin-top: 30px;
}

.item-report  {
  padding-right: 10px;
}

.hideReport {
  display: none;
}

.container-report {
  color: #576875;
  & span {
    display: block;
    font-size: 1.3em;
    line-height: 1.78em;
    margin-bottom: 20px;
    border-bottom: 1px dotted #0db9f0;
  }
  & :last-child {
    border-bottom: none;
  }

  & :nth-of-type(4) {
    border-bottom: none;
  }

}

  & ul{
    & li {
    font-size: 1.3em;
  }

}

.list-report {
  margin-left: 15px;
}

@media print and (color){

  body {
    min-height: 0;
  }

  @page {
    size: auto;
    margin: 5mm;
  }

  .print-logo {
     margin-top: 20px;
     width: 60px;
     position: relative;
     visibility: visible;
   }

  .breadcrumb {
    display: none;
  }

  md-card form md-input-container {
    display: none;
  }

  .item-report  {
    padding-right: 10px;
  }

  .mar-button {
    display: none;

  }
}