<div class="video-container">

        <div  ng-if="!$ctrl.dis" class="video-panel" style="width: calc(100% - 80px)">
            <p class="panel-title video-title">LEARN</p>
        </div>

    <div ng-if ="$ctrl.showVideoTitle" class="container-item-tool">
        <span class="title-item-tool">Title of video</span>
    </div>

    <div class="video-content video-tool sample-show-hide row sample-show-hide outline-0">
        <div class="z-in outline-0" ng-click="$ctrl.playVideo();$ctrl.videoActiv()">

        </div>
        <div>
            <video controls preload="none" class="col-sm-12 hidden-xs main-video" poster="/images/movie-logo.png">
                <source ng-src="{{$ctrl.video}}" type="video/mp4">
            </video>

            <video controls preload="auto" class="col-xs-12 visible-xs video-panel-small" poster="/images/movie-logo.png">
                <source ng-src="{{$ctrl.video}}" type="video/mp4">
            </video>
        </div>



        
    </div>
</div>

