


<div class="slap-page revenue-page personal-expanses" scroll-top>

    <div class="panel panel-default">

        <div class="panel-body">

            <button-switch visible="showVideoBlock"></button-switch>

            <video-block visible="showVideoBlock" video="videoUrl"></video-block>

        </div>

    </div>

    <div class="panel panel-default ">

        <div class="panel-body static-text-panel">

            <button-switch visible="showStaticTextBlock"></button-switch>

            <slap-static-text t1="List the average price your Ideal Client pays you when they buy one unit.  Enter the amount you actually charge, reflecting realities like typical discounts you might offer or other realities that impact the amount you actually charge for your products or services."
            t2="If your products/services have a range of prices, use the average price. If the range is very wide, consider setting up two revenue streams to narrow the range. For example, you might have one revenue stream for Small Consulting Projects and one for Large Consulting Projects."
            t3="Most often a business owner under charges.  As you enter your Sales Prices - ask yourself if the market can handle you doing a small increase.   Don't be afraid to increase your prices if you think your Ideal Client can afford it!"
            t4="If you want to add or delete a Revenue Stream you need to go back to the Revenue Stream page to do that!" visible="showStaticTextBlock"></slap-static-text>

        </div>

    </div>

    <slap-notifications notifications="notifications" ></slap-notifications>
    <div class="panel panel-default">

        <div class="panel-body slap-work-panel">

            <button-switch visible="showContent"></button-switch>

            <p class="logo panel-title">ACTION</p>

            <div class="sample-show-hide" ng-hide="showContent">
                
                <div class="revenue-row">
                    <div class="revenue-name-container text-center">
                        Revenue Streams
                    </div>
                    <div class="revenue-price-container text-center show-border">
                        <div class="blue-circle"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span></div>
                        Selling Price
                    </div>
                </div>
                <div class="revenue-row" ng-repeat="revenue in data.revenues | filter:{deleted: false}">
                    <div class="revenue-name-container">
                        <div class="input-box">
                            <input ng-model="revenue.name" type="text"
                                   class="monthly-cost outline-0" disabled
                                   ng-class="{'active': revenue.name}" required>
                        </div>
                    </div>
                    <div class="revenue-price-container  show-border">
                        <div class="">
                            <div class="input-box">
                                <span class="currency">$</span>
                                <input ng-init="(revenue.sellingPrice == '0.00')? revenue.sellingPrice = '' : revenue.sellingPrice" ng-model="revenue.sellingPrice"  type="text"
                                        class="monthly-cost outline-0"
                                        ng-keydown="checkValidity(revenue.sellingPrice, $event)"
                                        ng-class="{'active': revenue.sellingPrice}" required>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<slap-footer send="sendData" forward="forward"></slap-footer>
