<div class="slap-page slap-start-date " scroll-top>

    <div class="panel panel-default">

        <div class="panel-body">

            <button-switch visible="showVideoBlock"></button-switch>

            <video-block visible="showVideoBlock" video="videoUrl"></video-block>

        </div>

    </div>

    <div class="panel panel-default">

        <div class="panel-body static-text-panel">

            <button-switch visible="showStaticTextBlock"></button-switch>

            <slap-static-text t1="Choose the date that you want to start executing your SLAP."
            t2="Your SLAP start date does not have to align with the calendar year or your fiscal year."
            t3="Action is more important than Plan!  Get to ACTION ASAP and set your Start Date ideally for the month you are in or the next month coming up."
            t4="Remember - you want to choose a date as soon as possible so you have a deadline to finish building your plan and get into Action!" visible="showStaticTextBlock"></slap-static-text>

        </div>

    </div>
    
    <slap-notifications notifications="notifications" ></slap-notifications>

    <div class="panel panel-default">

        <div class="panel-body slap-work-panel">

            <button-switch visible="showStartDate"></button-switch>

            <p class="logo panel-title">ACTION</p>

            <div class="col-md-12 sample-show-hide" ng-hide="showStartDate">
                <p class="heading2">Choose Your Start Date</p>

                <p class="heading3">I will start to put my SLAP into Action no later than the first day of <br>
                    <select ng-model="data.slapStartDate" class="outline-0 dropdown-box active" ng-disabled="!user.stripeSubscription && user.role == 4">
                        <!-- <option ng-if="data.year && data.month" value="{{data.month}}">{{months[data.month-1].name}} {{data.year}}</option> -->
                        <option ng-repeat="date in startdates track by $index" value="{{date.month.id+'_'+date.year}}">{{date.month.name+' '+date.year}}</option>
                    </select>
                    <!-- <select style="width: 10%" ng-model="data.year" ng-model="data.year" class="outline-0 dropdown-box active">
                        <option ng-repeat="year in years" ng-value="year">{{year}}</option>
                    </select> -->
                    <!--{{data.year}}-->
                </p>
            </div>

        </div>
    </div>
</div>

<slap-footer send="sendData" forward="forward"></slap-footer>