<div class="slap-page revenue-page personal-expanses" scroll-top>

    <div class="panel panel-default">

        <div class="panel-body">

            <button-switch visible="showVideoBlock"></button-switch>

            <video-block visible="showVideoBlock" video="videoUrl"></video-block>

        </div>

    </div>

    <div class="panel panel-default ">

        <div class="panel-body static-text-panel">

            <button-switch visible="showStaticTextBlock"></button-switch>

            <slap-static-text t1="Make a list of all of the things that you sell.  Only enter those Revenue Streams you plan to offer in the next 12 months; don't be afraid to eliminate an old Revenue stream that is no longer serving you well, or to add a new one that you think is promising."
            t2="Having 3 to 5 Revenue Streams is ideal.  SLAP is all about setting your intentions; if you have too many revenue streams, it is hard to put your intention into all of them.  If you have too few revenue streams, you may not have enough to offer your Ideal Client."
            t3="If you have a lot more than 3 to 5 products or services that you sell, consider itemizing the ones that you really want to prioritize in the next 12 months, and lumping the rest of them together as Other Revenue."
            t4="Also think about how they can be grouped together - are there a few things that are always purchased together? Or that are similar?  You can create categories rather than itemize every single thing you sell." visible="showStaticTextBlock"></slap-static-text>

        </div>

    </div>

    <slap-notifications notifications="notifications" ></slap-notifications>
    <div class="panel panel-default">

        <div class="panel-body slap-work-panel">

            <button-switch visible="showContent"></button-switch>

            <p class="logo panel-title">ACTION</p>

            <div class="sample-show-hide" ng-hide="showContent">
                
                <div class="revenue-row">
                    <div class="revenue-name-container text-center">
                        Revenue Streams
                    </div>
                </div>
                <div class="revenue-row" ng-repeat="revenue in data.revenues | filter:{deleted: false}">
                    <div class="revenue-name-container" >
                        
                        <div class="input-box" style="width: calc(100% - 20px); display: inline-block">

                            <input ng-model="revenue.name" type="text"
                            class="monthly-cost outline-0"
                            ng-keydown="$event.keyCode === 13 && checkRevenueCompleted(revenue, $event, $index)"
                            ng-blur="checkRevenueCompleted(revenue, $event, $index)"
                            id="revenue-{{$index}}"
                            ng-class="{'active': revenue.name}" required
                            placeholder="Add  Revenue">

                        <span tabIndex="-1" class="delete-btn outline-0 pull-right" ng-click="deleteRevenue(revenue)" style="padding-top: 20px">
                            <i class="fa fa-trash" aria-hidden="true" ></i>
                        </span>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<slap-footer send="sendData" forward="forward"></slap-footer>

