<div class="slap-footer col-md-12">
    <div class="row ">
        <div class="col-xs-6 footer-column footer-column-left">
            <div ng-show="state.prev.sref">
                <a class="button-oval button-back pull-left" ng-click="prev()"></a>
                <span class="pull-left">{{ state.prev.name }}</span>
            </div>
        </div>
        <div class="col-xs-6 footer-column footer-column-right">
            <div ng-show="state.next.sref">
                <a class="button-oval button-forward pull-right" ng-click="next()"></a>
                <span class="pull-right">{{ state.next.name }}</span>
            </div>
        </div>
    </div>
</div>
