<div class="slap-footer col-md-12">
    <div class="row ">
        <div class="col-xs-6 footer-column footer-column-left">
            <div ng-show="$ctrl.state.prev.sref">
                <button class="button-oval button-back pull-left outline-0" ng-click="$ctrl.prev()"></button>
                <span class="pull-left">{{ $ctrl.state.prev.name }}</span>
            </div>
        </div>
        <div class="col-xs-6 footer-column footer-column-right">
            <div ng-show="$ctrl.state.next.sref">
                <button class="button-oval button-forward pull-right outline-0"  ng-click="$ctrl.next()"></button>
                <span class="pull-right">{{ $ctrl.state.next.name }}</span>
            </div>
        </div>
    </div>
</div>
