<div class="container-fluid">
    <div class="row ">
        <div class="col-xs-6 footer-column footer-column-left">
            <div>
                <a class="button-oval pull-left" ui-sref="#">
                    <i class="fa fa-2x fa-arrow-left" aria-hidden="true"></i>
                </a>
                <span class="pull-left"></span>
            </div>
        </div>
        <div class="col-xs-6 footer-column footer-column-right">
            <div>
                <a class="button-oval pull-right" ui-sref="#">
                    <i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i>
                </a>
                <span class="pull-right"></span>
            </div>
        </div>
    </div>
</div>