<div style="position: relative; align-items: center;justify-content: center;background: #0e7cb5; height: 15px; position: absolute; width: 100%; padding-bottom:30px;">
        <span class="glyphicon glyphicon-earphone" style="margin-left: 20px; font-size: 0.6em; color: #fff;"></span><span style="margin-left: 20px; font-size: 0.6em; color: #fff;">844 393 SLAP</span>
        <span class="glyphicon glyphicon-envelope" style="margin-left: 20px; font-size: 0.6em; color: #fff;"></span><span style="margin-left: 20px; font-size: 0.6em; color: #fff;">support@smallbizsilverlining.com</span>
    </div>

