


<div class="slap-page revenue-page personal-expanses" scroll-top>

    <div class="panel panel-default">

        <div class="panel-body">

            <button-switch visible="showVideoBlock"></button-switch>

            <video-block visible="showVideoBlock"></video-block>

        </div>

    </div>

    <div class="panel panel-default ">

        <div class="panel-body static-text-panel">

            <button-switch visible="showStaticTextBlock"></button-switch>

            <slap-static-text visible="showStaticTextBlock"></slap-static-text>

        </div>

    </div>

    <slap-notifications notifications="notifications" ></slap-notifications>
    <div class="panel panel-default">

        <div class="panel-body slap-work-panel">

            <button-switch visible="showContent"></button-switch>

            <p class="logo panel-title">SLAP<span class="aqua-green">work</span></p>

            <div class="sample-show-hide" ng-hide="showContent">
                
                <div class="revenue-row">
                    <div class="revenue-name-container text-center">
                        Revenue Streams
                    </div>
                    <div class="revenue-price-container text-center">
                        Selling Price &amp; Variable Expenses
                    </div>
                    <div class="revenue-margin-container text-center">
                        Profit Margin
                    </div>
                    <div class="revenue-breakdown-container text-center">
                        Revenue Breakdown
                    </div>
                    <div class="revenue-unit-container text-right">
                        Unit of Sales
                    </div>
                </div>
                <div class="revenue-row" ng-repeat="revenue in data.revenues">
                    <div class="revenue-name-container">
                        
                        <div class="input-box">
                            <input ng-model="revenue.name" type="text"
                                   class="monthly-cost outline-0"
                                   ng-blur="checkRevenueCompleted(revenue, $event)"
                                   ng-class="{'active': revenue.name}" required>
                            <label class="label expense-label" >Add  Revenue</label>
                        </div>
                    </div>
                    <div class="revenue-price-container">
                        <div class="">
                            <div class="input-box">
                                <span class="currency">$</span>
                                <input ng-model="revenue.sellingPrice" type="text"
                                        class="monthly-cost outline-0"
                                        ng-blur="checkRevenueCompleted(revenue, $event)"
                                        ng-keydown="checkValidity(revenue.sellingPrice, $event)"
                                        ng-class="{'active': revenue.sellingPrice}" required>
                            </div>
                        </div>

                        <div class="variable-row" ng-repeat="variableExpense in revenue.variableExpenses">
                            <div class="variable-name ">
                                <div class="input-box">
                                    <input ng-model="variableExpense.expense" type="text"
                                            class="monthly-cost outline-0"
                                            ng-blur="checkVariableExpenseCompleted(variableExpense, revenue, $event)"
                                            ng-class="{'active': variableExpense.expense}" required>

                                    <label class="label expense-label" >Expense</label>
                                </div>
                            </div>
                            <div class="variable-price ">
                                <div class="input-box">
                                    <span class="currency">$</span>
                                    <input ng-model="variableExpense.cost" type="text"
                                            class="monthly-cost outline-0"
                                            ng-blur="checkVariableExpenseCompleted(variableExpense, revenue, $event)"
                                            ng-keydown="checkValidity(variableExpense.cost, $event)"
                                            ng-class="{'active': variableExpense.cost}" required>
                                </div>
                            </div>

                            <span class="delete-btn outline-0 pull-right" ng-click="deleteVariableExpense(revenue, variableExpense)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <div class="revenue-margin-container text-center" >
                        <span class="info-text">%{{revenue.margin}}</span>
                    </div>
                    <div class="revenue-breakdown-container text-center">
                        <div class="input-box">
                            <span class="currency">%</span>
                            <input ng-model="revenue.breakdown" type="text"
                                    class="incidentals outline-0"
                                    ng-blur="checkRevenueCompleted(revenue, $event)"
                                    ng-keydown="checkValidity(revenue.breakdown, $event)"
                                    ng-class="{'active': revenue.breakdown}" required>
                        </div>
                    </div>
                    <div class="revenue-unit-container text-center">
                        <span class="info-text">{{revenue.unit}} Units</span>


                        <span class="delete-btn outline-0 pull-right" ng-click="deleteRevenue(revenue)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </span>
                    </div>

                </div>

                <div class="revenue-row">
                    <div class="revenue-name-container">
                    </div>
                    <div class="revenue-price-container">
                    </div>
                    <div class="revenue-margin-container">
                    </div>
                    <div class="revenue-breakdown-container text-center">
                        <span style="font-size: 14px" class="pull-left">Total</span>
                        
                        <div class="item-circle item-circle-check pull-right" ng-if="data.totalBreakdown == 100">
                            <i class="fa fa-check fa-lg text-white" aria-hidden="true"></i>
                        </div><br/>
                        <span>%{{ data.totalBreakdown }}</span>
                    </div>  
                    <div class="revenue-unit-container">
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<slap-footer send="sendData"" forward="forward"></slap-footer>
