        <div class="slapBtn">
                <button class="to-state go-to">
                    <a ui-sref="mindset.ourCommitment" href="#!/mindset/ourCommitment">Go To Build</a>
                </button>
                <button class="to-state go-to">
                    <a ui-sref="slapExcute.main" href="#!/slapExcute/main">Go To Execute</a>
                </button>
            </div>
<div class="container-fluid m-t-es-30" >

<div class="row">
<div class="col-md-12" style="font-size: 15px">
    <h1 style="margin-top: -10px;"> My Accounts </h1>

    <div class="panel panel-default p-es-10">
        <h3> Basic </h3>       
        <div>  
            <slap-notifications notifications="notifications"></slap-notifications>
            <form layout="row" layout-wrap layout-align="center center" name="form">
                <md-input-container  flex="100">
                    <label>Business Name</label>
                    <input ng-model="user.businessName" required name="businessName">
                    <div ng-messages="form.businessName.$error">
                        <ng-message when="required">Business Name is required.</ng-message>
                    </div>
                </md-input-container>
                <md-input-container  flex="50">
                    <label>First Name</label>
                    <input ng-model="user.name" required name="name">
                    <div ng-messages="form.name.$error">
                        <ng-message when="required">First Name is required.</ng-message>
                    </div>
                </md-input-container>
                
                <md-input-container  flex="50">
                    <label>Last Name</label>
                    <input ng-model="user.lastName" required name="lastName">
                    <div ng-messages="form.lastName.$error">
                        <ng-message when="required">Last Name is required.</ng-message>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex="50">
                    <label for="email">Email</label>
                    <input name="email" ng-model="user.email" id="email"
                            required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

                    <div ng-messages="form.email.$error" ng-hide="form.email.$valid">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Only letters and numbers are allowed (a-z,A-Z)
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex="50">
                    <label for="phone">Phone Number</label>
                    <input name="phone" required ng-model="user.phone"  id="phone"/>

                    <div ng-messages="form.phone.$error" ng-hide="form.phone.$valid">
                        <ng-message when="required">Phone Number is required.</ng-message>
                    </div>
                </md-input-container>
    
                <section layout="column" layout-align="start" flex="100">
                    <div class="img-block">
                        <img class="profile-pic" ng-if="!user.avatarId" ng-src="{{'/images/default.jpg'}}"  alt="">
                        <img class="profile-pic" id="avatar" ng-if="user.avatarId" ng-src="{{avatarUrl}}"  alt="">
                        <div ng-if="downloadFinished" class="btn-block">
                            <span class="btn btn-primary change-picture-btn" ngf-select="onFileSelect($file)" ngf-pattern="'image/*'" ngf-max-size="5MB" ng-model="picFile"
                                ngf-accept="'image/*'">Change Image</span>
                        </div>
                        <div ng-if="!downloadFinished" class="progress width-150">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                                style="width: 100%">
                            </div>
                        </div>
                    </div>
                    <div class="size-text-warning" ng-if="downloadFinished">
                        Size of the picture cannot exceed 5M.
                    </div>
                   
                    

                </section>
                <section layout="row" layout-align="end center" flex="100" >
                    
                    <button class="btn btn-primary pull-right" ng-click="saveBasic()"  ng-disabled="form.$invalid">
                        Save Basic
                    </button>
                </section>
            </form>
        </div>  
        <div class="clearfix"></div>
    </div>

    <div class="panel panel-default p-es-10">
        <h3> Change Password </h3>
        <div>
            <form layout="row" layout-wrap layout-align="center center" name="passwordform">
                <md-input-container class="md-block" flex="50" >
                    <label for="password">Password</label>
                    <input required type="password" name="password" ng-model="user.password"
                            minlength="6" md-maxlength="30" id="password"/>

                    <div ng-messages="passwordform.password.$error" role="alert" ng-hide="passwordform.password.$valid || passwordform.password.$untouched">
                        <div ng-message-exp="['required', 'minlength', 'maxlength']">
                            Password should be at least 6 until 30 characters
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex="50">
                    <label for="confirm">Confirm Password</label>
                    <input required type="password" name="confirm" ng-model="user.confirm_password"
                            minlength="6" md-maxlength="30" pass-compare="user.password" id="confirm"/>
                            
                    <div ng-messages="passwordform.confirm.$error" role="alert" ng-hide="passwordform.confirm.$valid || passwordform.confirm.$untouched">
                        <div ng-message-exp="['required', 'minlength', 'maxlength']">
                            Passwords are not the same
                        </div>
                    </div>
                </md-input-container>
                <section layout="row" layout-align="end center" flex="100" >
                    
                    <button class="btn btn-primary pull-right" ng-click="changePassword()" ng-disabled="passwordform.$invalid">
                        Change Password
                    </button>
                </section>
            </form>
        </div>  
        <div class="clearfix"></div>

    </div>
    <slap-notifications notifications="notifications_card"></slap-notifications>
    <div class="panel panel-default p-es-10" ng-if="!isAdmin">
        
        <h3>Credit Card</h3>
        <!--TODO should show the credit card he's using-->
        <div>
            <form layout="column" layout-wrap  name="creditform">
                
                <button class="btn btn-primary pull-right" ng-click="getCreditCard()">
                    Current Card Number
                </button>
                <div class="clearfix"></div>
                <div class="alert alert-success" ng-if="user.last4">    
                    You are using card ****-****-****-{{user.last4}}
                </div>
                <div layout="row" flex="100">

                    <md-input-container class="md-block" flex="50">
                        <label for="creditCard">Credit Card Number</label>
                        <input
                            name="creditCard"
                            required
                            ng-model="user.card.number"
                            ui-mask="9999-9999-9999-9999"
                            id="creditCard"
                            />

                        <div ng-messages="creditform.creditCard.$error" ng-hide="creditform.creditCard.$valid">
                            <div ng-message-exp="['required', 'pattern']">
                                Enter a valid credit card number
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex="50">
                        <label for="exp_date">Expiration Date</label>
                        <input
                            name="expDate"
                            required
                            ng-model="user.card.date"
                            ui-mask="99/9999"
                            id="exp_date"
                            />

                        <div ng-messages="creditform.expDate.$error" ng-hide="creditform.expDate.$valid">
                            <div ng-message-exp="['required', 'pattern']">
                                Enter a valid expiration date
                            </div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="row" flex="100">
                    <md-input-container class="md-block" flex="50">
                        <label for="code">Security Code</label>
                        <input name="cvc" required ng-model="user.card.cvc" type="password"
                            ng-maxlength="4" ng-minlength="3" id="code"/>

                        <div ng-messages="creditform.cvc.$error" ng-hide="creditform.cvc.$valid">
                            <div ng-message-exp="['required', 'pattern']">
                                Enter a valid security code (CVV)
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex="50">
                        <label for="billing">Billing Address</label>
                        <input name="address" required ng-model="user.card.billingAddress"
                            id="billing"/>

                        <div ng-messages="creditform.address.$error" ng-hide="creditform.address.$valid">
                            <div ng-message-exp="['required', 'pattern']">
                                Enter a valid billing address (ZIP code)
                            </div>
                        </div>
                    </md-input-container>
                </div>

            </form>
            <button class="btn btn-primary pull-right" ng-click="changeCreditCard()" ng-disabled="creditform.$invalid">
                Change Credit Card
            </button>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="panel panel-default p-es-10" ng-if="canRenew && !isAdmin">
        <h3> Start Building Next Year's SLAP </h3>
        <p>
            Once you are in Q4 you are able to set up your next year's SLAP account which will have your SLAPstatement, Ideal Client and all Account History pre-loaded and ready for you to take this year's lessons and apply them your SLAP for next year!
        </p>
        <div>
            <button class="btn btn-primary pull-right" ng-click="renewAccount()">
                Set Up Next SLAP!
            </button>
        </div>  
        <div class="clearfix"></div>
    </div>
</div>
</div>
</div>