.your-statement {

  .row-flex {
    align-items: baseline;
    justify-content: flex-start;
  }

  .line-text {
    font-size: 24px;
    line-height: 26px;
  }

  .first-select {
    width: 120px;
  }

  .second-input {
    width: 450px;
  }

  .fourth-input {
    width: 350px;
  }

  .third-select {
    width: 60px;
  }

  .fifth-select {
    width: 150px;
  }
}