<div class="left-panel">
    <ul class="list-group left-panel">
        <div>
            <li class="list-group-item left-panel-item" aside-collapse
                ui-sref-active="{'left-panel-item-active' : 'statement.*' }" data-toggle="collapse" data-target="#asideStatement">
                <div class="item-circle" ui-sref-active="{'item-circle-active' : 'statement.*' }">
                    <span>1</span>
                </div>
                <span>SLAPStatement</span>
            </li>
            <div class="enclosed-list collapse" id="asideStatement">
                <ul class="list-group">
                    <li class="list-group-item enclosed-list-item" ui-sref-active-eq="enclosed-list-item-active" ng-repeat="statement in statements">
                        <a ui-sref="{{ statement.sref }}">{{ statement.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <li class="list-group-item left-panel-item" ui-sref-active="{'left-panel-item-active' : 'yearGoal.*' }" aside-collapse
                data-toggle="collapse" data-target="#asideyearGoal">
                <div class="item-circle" ui-sref-active="{'item-circle-active' : 'yearGoal.*' }">
                    <span>2</span>
                </div>
                <span>Year goal</span>
            </li>
            <div class="enclosed-list collapse" id="asideyearGoal">
                <ul class="list-group">
                    <li class="list-group-item enclosed-list-item" ui-sref-active-eq="enclosed-list-item-active">
                        <a ui-sref="#">1</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <li class="list-group-item left-panel-item" ui-sref-active="{'left-panel-item-active' : 'idealClien.*' }" aside-collapse>
                <!--<div class="item-circle" ui-sref-active="{'left-panel-item-active' : 'idealClien.*' }">-->
                <!--<span>3</span>-->
                <!--</div>-->
                <div class="item-circle item-circle-check">
                    <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                </div>
                <span>ideal client</span>
            </li>
            <div class="enclosed-list collapse">
                <ul class="list-group">
                    <li class="list-group-item enclosed-list-item" ui-sref-active-eq="enclosed-list-item-active">
                        <a ui-sref="#"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div aside-collapse >
            <li class="list-group-item left-panel-item" ui-sref-active="{'left-panel-item-active' : 'actionPlan.*' }" aside-collapse>
                <div class="item-circle" ui-sref-active="{'item-circle-active' : 'actionPlan.*' }">
                    <span>4</span>
                </div>
                <span>action plan</span>
            </li>
            <div class="enclosed-list collapse">
                <ul class="list-group">
                    <li class="list-group-item enclosed-list-item" ui-sref-active-eq="enclosed-list-item-active">
                        <a ui-sref="#"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div aside-collapse>
            <li class="list-group-item left-panel-item" ui-sref-active="{'left-panel-item-active' : 'execute.*' }" aside-collapse>
                <div class="item-circle" ui-sref-active="{'item-circle-active' : 'actionPlan.*' }">
                    <span>5</span>
                </div>
                <span>execute</span>
            </li>
            <div class="enclosed-list collapse">
                <ul class="list-group">
                    <li class="list-group-item enclosed-list-item" ui-sref-active-eq="enclosed-list-item-active">
                        <a ui-sref="#"></a>
                    </li>
                </ul>
            </div>
        </div>

    </ul>
</div>
