<div class="container m-t-xs-50">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">

            <form ng-disabled="lock.state">
                <div class="panel panel-default animated fadeInDown">
                    <div class="panel-body">
                        <h3><i class="fa fa-key"></i> Reset Password</h3>
                        <hr>

                        <div class="form-group" ng-class="{'has-error':errors.new_passw}">
                            <input type="password" ng-model="reset.new_passw" class="form-control"
                                   name="new_passw"
                                   placeholder="New Password">
                            <div class="help-block help-block-error" ng-show="errors.new_passw"
                                 ng-bind-html="errors.new_passw | joinBr"></div>
                        </div>

                        <hr>
                        <div class="text-center">
                            <button ng-disabled="lock.state" type="submit" ng-click="submit()" class="btn btn-primary">Reset</button>
                        </div>
                    </div>

                </div>
            </form>

            <!--<p class="text-center">-->
                <!--<a ui-sref="register">Not registered yet? Sign up!</a>-->
            <!--</p>-->

        </div>
    </div>
</div>