<div class="who-ideal-client slap-page" scroll-top>

    <div class="panel panel-default">

        <div class="panel-body">

            <button-switch visible="showVideoBlock"></button-switch>

            <video-block visible="showVideoBlock"></video-block>

        </div>

    </div>

    <div class="panel panel-default">

        <div class="panel-body static-text-panel">

            <button-switch visible="showStaticTextBlock"></button-switch>

            <slap-static-text visible="showStaticTextBlock"></slap-static-text>

        </div>

    </div>

    <div class="panel panel-default  sample-show-hide">

        <div class="panel-body slap-work-panel">

            <div class="row">
                <div class="col-md-12">
                    <button-switch visible="showIdealClientTextBlock"></button-switch>

                    <p class="logo panel-title">SLAP<span class="aqua-green">work</span></p>
                </div>
            </div>

            <div class="row sample-show-hide" ng-hide="showIdealClientTextBlock">
                <div class="col-md-11 p-w-es-30">
                    <p class="heading2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu pharetra elit, a
                        dapibus ex. In venenatis tempor odio, non ultrices lectus</p>
                </div>
            </div>

            <div class="row sample-show-hide" ng-hide="showIdealClientTextBlock">
                <div class="col-md-12 p-w-es-30">
                    <h4>Who Are Your Ideal Clients?</h4>
                </div>
            </div>

            <div class="input-group-wrap sample-show-hide" ng-hide="showIdealClientTextBlock">

                <div class="input-group-item row m-w-es-10 m-w-md-30" ng-repeat="item in data">

                    <div class="col-md-12 row-flex p-b-es-10">

                        <div class="input-box">
                            <input type="text" id="name-{{$index}}" class="name outline-0"
                                   ng-class="{'active': item.name}"
                                   ng-change="checkFormElements(item)"
                                   ng-model="item.name" required>
                            <label class="label name-label" for="name-{{$index}}">Name</label>
                        </div>

                        <select ng-model="item.gender" ng-change="checkFormElements(item)"
                                ng-class="{'active': item.gender !== '0'}"
                                class="gender dropdown-box outline-0">
                            <option value="{{$index}}" ng-repeat="gender in idealClientSelects.gender">{{gender}}</option>
                        </select>

                        <select ng-model="item.age" ng-change="checkFormElements(item)"
                                ng-class="{'active': item.age !== '0'}"
                                class="age dropdown-box outline-0">
                            <option value="{{$index}}" ng-repeat="age in idealClientSelects.age">{{age}}</option>
                        </select>

                        <select ng-model="item.maritalStatus" ng-change="checkFormElements(item)"
                                ng-class="{'active': item.maritalStatus !== '0'}"
                                class="marital-status dropdown-box outline-0">
                            <option value="{{$index}}" ng-repeat="maritalStatus in idealClientSelects.maritalStatus">{{maritalStatus}}</option>
                        </select>

                        <select ng-model="item.kids" ng-change="checkFormElements(item)"
                                ng-class="{'active': item.kids !== '0'}"
                                class="kids dropdown-box outline-0">
                            <option value="{{$index}}" ng-repeat="kids in idealClientSelects.kids">{{kids}}</option>
                        </select>

                    </div>

                    <div class="col-md-12 row-flex m-b-es-50">

                        <select ng-model="item.employment" ng-change="checkFormElements(item)"
                                ng-class="{'active': item.employment !== '0'}"
                                class="employment dropdown-box outline-0">
                            <option value="{{$index}}" ng-repeat="employment in idealClientSelects.employment">{{employment}}</option>
                        </select>

                        <select ng-model="item.location" ng-change="checkFormElements(item)"
                                ng-class="{'active': item.location !== '0'}"
                                class="location dropdown-box outline-0">
                            <option value="{{$index}}" ng-repeat="location in idealClientSelects.location">{{location}}</option>
                        </select>

                        <select ng-model="item.home" ng-change="checkFormElements(item)"
                                ng-class="{'active': item.home !== '0'}"
                                class="home dropdown-box outline-0">
                            <option value="{{$index}}" ng-repeat="home in idealClientSelects.home">{{home}}</option>
                        </select>

                        <select ng-model="item.transit" ng-change="checkFormElements(item)"
                                ng-class="{'active': item.transit !== '0'}"
                                class="transit dropdown-box outline-0">
                            <option value="{{$index}}" ng-repeat="transit in idealClientSelects.transit">{{transit}}</option>
                        </select>

                        <select ng-model="item.hobbies" ng-change="checkFormElements(item)"
                                ng-class="{'active': item.transit !== '0'}"
                                class="hobbies dropdown-box outline-0">
                            <option value="{{$index}}" ng-repeat="hobbies in idealClientSelects.hobbies">{{hobbies}}</option>
                        </select>

                        <select ng-model="item.reads" ng-change="checkFormElements(item)"
                                ng-class="{'active': item.transit !== '0'}"
                                class="reads dropdown-box outline-0">
                            <option value="{{$index}}" ng-repeat="reads in idealClientSelects.reads">{{reads}}</option>
                        </select>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<slap-footer send="sendData"" forward="forward"></slap-footer>