<div class="who-ideal-client slap-page container">

    <div class="panel panel-default margin-t-40">

        <div class="panel-body">

            <button-switch visible="showVideoBlock"></button-switch>

            <video-block visible="showVideoBlock"></video-block>

        </div>

    </div>

    <div class="panel panel-default margin-t-40">

        <div class="panel-body static-text-panel">

            <button-switch visible="showStaticTextBlock"></button-switch>

            <slap-static-text visible="showStaticTextBlock"></slap-static-text>

        </div>

    </div>

    <div class="panel panel-default margin-t-40 margin-b-140 sample-show-hide">

        <div class="panel-body">

            <div class="row">
                <div class="col-md-12">
                    <button-switch visible="showIdealClientTextBlock"></button-switch>

                    <h3 class="logo padding-l-15">SLAP<span class="aqua-green">work</span></h3>
                </div>
            </div>

            <div class="row" ng-hide="showIdealClientTextBlock">
                <div class="col-md-11 padding-l-r-30">
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu pharetra elit, a
                        dapibus ex. In venenatis tempor odio, non ultrices lectus</p>
                </div>
            </div>

            <div class="row" ng-hide="showIdealClientTextBlock">
                <div class="col-md-12 padding-l-r-30">
                    <h4>Who Are Your Ideal Clients?</h4>
                </div>
            </div>

            <div class="input-group-wrap" ng-hide="showIdealClientTextBlock">

                <div class="input-group-item row" ng-repeat="item in clients">

                    <div class="col-md-12 row-flex padding-l-r-30 padding-t-45 margin-b-38">

                        <div class="input-box">
                            <input type="text" id="name-{{$index}}" class="name outline-0" ng-model="item.name" required>
                            <label class="label name-label" for="name-{{$index}}">Name</label>
                        </div>

                        <select ng-model="item.gender" class="gender dropdown-box outline-0">
                            <option>Gender</option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>

                        <div class="input-box">
                            <input ng-model="item.age" type="text" id="age-{{$index}}" class="age outline-0" required>
                            <label class="label age-label" for="age-{{$index}}">Age</label>
                        </div>

                        <select ng-model="item.maritalStatus" class="marital-status dropdown-box outline-0">
                            <option value="0">Marital status</option>
                            <option value="1">Married</option>
                            <option value="2">Single</option>
                            <option value="3">Widowed</option>
                            <option value="4">Divorced</option>
                            <option value="5">Common-Law</option>
                        </select>

                        <select ng-model="item.kids" class="kids dropdown-box outline-0">
                            <option>Kids</option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>

                    </div>

                    <div class="col-md-12 row-flex padding-l-r-30 margin-b-50">

                        <select ng-model="item.employment" class="employment dropdown-box outline-0">
                            <option value="0">Employment</option>
                            <option value="1">Employed</option>
                            <option value="2">Self-Employed</option>
                        </select>

                        <select ng-model="item.location" class="location dropdown-box outline-0">
                            <option value="0">Location</option>
                            <option value="1">City Center</option>
                            <option value="2">Outskirts</option>
                            <option value="3">Suburb</option>
                            <option value="4">Rural</option>
                        </select>

                        <select ng-model="item.home" class="home dropdown-box outline-0">
                            <option value="0">Home</option>
                            <option value="1">Condo</option>
                            <option value="2">Apartment</option>
                            <option value="3">House</option>
                            <option value="4">Farm</option>
                            <option value="5">Other</option>
                        </select>

                        <select ng-model="item.transit" class="transit dropdown-box outline-0">
                            <option value="0">Transit</option>
                            <option value="1">Car</option>
                            <option value="2">Walk/Bike</option>
                        </select>

                        <div class="input-box">
                            <input ng-model="item.hobbies" type="text" id="hobbies-{{$index}}" class="hobbies outline-0" required>
                            <label class="label hobbies-label" for="hobbies-{{$index}}">Hobbies</label>
                        </div>

                        <div class="input-box">
                            <input ng-model="item.reads" type="text" id="reads-{{$index}}" class="reads outline-0" required>
                            <label class="label reads-label" for="reads-{{$index}}">Reads</label>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<slap-footer></slap-footer>