<md-dialog aria-label="List dialog" class="activity-dialog p-t-es-40">
	<section layout="column">
		<form layout="row" layout-wrap layout-align="center center" name="form">
			
			<md-input-container class="md-block" flex="50">
				<label for="password">Password</label>
				<input required type="password" name="password" ng-model="password.password"
						minlength="6" md-maxlength="30" id="password"/>

				<div ng-messages="form.password.$error" role="alert" ng-hide="form.password.$valid">
					<div ng-message-exp="['required', 'minlength', 'maxlength']">
						Password should be at least 6 until 30 characters
					</div>
				</div>
			</md-input-container>

			<md-input-container class="md-block" flex="50">
				<label for="confirm">Confirm Password</label>
				<input required type="password" name="confirm" ng-model="password.confirm_password"
						minlength="6" md-maxlength="30" pass-compare="password.password" id="confirm"/>

				<div ng-messages="form.confirm.$error" role="alert" ng-hide="form.confirm.$valid">
					<div ng-message-exp="['required', 'minlength', 'maxlength']">
						Passwords are not the same
					</div>
				</div>
			</md-input-container>
			<span>TODO: Decide pasword strength </span>
		</form>
	</section>

	<md-dialog-actions >
		
		<md-button ng-click="setPassword($event)" class="md-primary" ng-disabled="form.$invalid">
			Change
		</md-button>
		<md-button ng-click="closeDialog()" class="md-primary">Close</md-button>

	</md-dialog-actions>
</md-dialog>