<md-dialog fullscreen="true" aria-label="" class="activity-dialog p-t-es-40">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>SLAPmanager Accountability Call</h2>
        </div>
    </md-toolbar>
    <!--di-cont-->
    <md-dialog-content>

        <section layout="column" class="m-t-es-30 p-r-es-15">

            <form layout="row" layout-wrap layout-align="center center" name="form">
                <!--new-->
                <div class="date-slapmanager">

                    <md-input-container flex="50">
                        <label>Date</label>
                        <md-datepicker ng-model="formData.extra.date" name="Date"></md-datepicker>
                        <div ng-messages="form.date.$error">
                            <div ng-message="valid">The entered value is not a date!</div>
                            <div ng-message="required">This date is required!</div>
                            <div ng-message="mindate">Date is too early!</div>
                            <div ng-message="maxdate">Date is too late!</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="25">
                        <label>Hours</label>
                        <md-select required name="hours" placeholder="Hours" ng-model="formData.extra.hours">

                            <md-option ng-repeat="h in [] | range:10" ng-value={{h}}>{{h}}</md-option>

                        </md-select>
                        <div ng-messages="form.hours.$error" ng-hide="form.hours.$valid">
                            <div ng-message-exp="['required']">

                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container flex="25">
                        <label>Minutes</label>
                        <md-select name="minutes" required placeholder="Minutes"
                                   md-container-class="slapster-minutes-select" ng-model="formData.extra.minutes">

                            <md-option ng-repeat="m in [] | range:4" ng-value={{m*15}}>{{m*15}}</md-option>

                        </md-select>
                        <div ng-messages="form.minutes.$error" ng-hide="form.minutes.$valid">
                            <div ng-message-exp="['required']">
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <md-input-container flex="100" style="margin-top: 10px !important">
                    <input required name="notes"
                           placeholder="How is the SLAPster doing? Did you learn anything new or of importance from your call?"
                           ng-model="formData.notes">
                    <div ng-messages="form.notes.$error" ng-hide="form.notes.$valid">
                        <div ng-message-exp="['required']"></div>
                    </div>
                </md-input-container>

                <div class="item-mark">
                    <md-input-container flex="100">
                        <label>How would you rate their SLAPhabit #1: Take Action?</label>
                        <md-select name="actionMark" ng-model="formData.extra.actionMark" required>
                            <md-option ng-value=1>1</md-option>
                            <md-option ng-value=2>2</md-option>
                            <md-option ng-value=3>3</md-option>
                            <md-option ng-value=4>4</md-option>
                            <md-option ng-value=5>5</md-option>
                        </md-select>
                        <div class="errors" ng-messages="form.actionMark.$error">
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>

                    <md-input-container flex="100">
                        <label>How would you rate their SLAPhabit #2: Close Sales?</label>
                        <md-select name="salesMark" ng-model="formData.extra.salesMark" required>
                            <md-option ng-value=1>1</md-option>
                            <md-option ng-value=2>2</md-option>
                            <md-option ng-value=3>3</md-option>
                            <md-option ng-value=4>4</md-option>
                            <md-option ng-value=5>5</md-option>
                        </md-select>
                        <div class="errors" ng-messages="form.salesMark.$error">
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>
                </div>

                <div class="item-mark">
                    <md-input-container flex="50">
                        <label>How would you rate their SLAPhabit #3: Pause & Reflect?</label>
                        <md-select name="PRMark" ng-model="formData.extra.PRMark" required>
                            <md-option ng-value=1>1</md-option>
                            <md-option ng-value=2>2</md-option>
                            <md-option ng-value=3>3</md-option>
                            <md-option ng-value=4>4</md-option>
                            <md-option ng-value=5>5</md-option>
                        </md-select>
                        <div class="errors" ng-messages="form.PRMark.$error">
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>
                </div>

                <div class="item-mark">
                    <md-input-container flex="100">
                        <label>Is their SLAPcenter Account up to date?</label>
                        <md-select name="PRMark" ng-model="formData.extra.PRMark" required>
                            <md-option ng-value="1">Yes- they are on it!</md-option>
                            <md-option ng-value="2">Yes - we updated it on the call</md-option>
                            <md-option ng-value="3">No - they want to do it themselves</md-option>
                            <md-option ng-value="4">No - not at all</md-option>
                        </md-select>
                        <div class="errors" ng-messages="form.PRMark.$error">
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>
                </div>

                <md-input-container flex="100" style="margin-top: 10px !important">

                    <input required name="specificNotes"
                           placeholder=" Do you have any specific notes for the SLAPexpert that they should follow up on on their next call?"
                           ng-model="formData.extra.specificNotes">

                    <div class="errors" ng-messages="form.specificNotes.$error">
                        <div ng-message="required">Required</div>
                    </div>
                </md-input-container>


                <div class="item-mark">
                    <md-input-container flex="50">
                        <label>Are Tickets created for ANY/ALL follow up that you promised you would do for
                            them?</label>
                        <md-select name="PRMark" ng-model="formData.extra.promisedTickets" required>
                            <md-option ng-value="1">ANY</md-option>
                            <md-option ng-value="2">ALL</md-option>

                        </md-select>
                        <div class="errors" ng-messages="form.promisedTickets.$error">
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>
                </div>

                <md-input-container flex="100" style="margin-top: 10px !important">
                    <textarea required name="SLAPcenterUpdates"
                              placeholder="What, if any, updates did you give them about SLAPcenter?"
                              ng-model="formData.extra.SLAPcenterUpdates">
                    </textarea>

                    <div class="errors" ng-messages="form.SLAPcenterUpdates.$error">
                        <div ng-message="required">Required</div>
                    </div>
                </md-input-container>

                <md-input-container flex="100" style="margin-top: 10px !important">
                    <textarea required name="SLAPexpertUpdates"
                              placeholder=" What, if any, updates did you give them about their SLAPexpert?"
                              ng-model="formData.extra.SLAPexpertUpdates">
                    </textarea>

                    <div class="errors" ng-messages="form.SLAPexpertUpdates.$error">
                        <div ng-message="required">Required</div>
                    </div>
                </md-input-container>

                <md-input-container flex="100" style="margin-top: 10px !important">
                    <textarea required name="SLAPschoolWorldUpdates"
                              placeholder=" What, if any, updates did you give them / discuss about SLAPschool or SLAPworld?"
                              ng-model="formData.extra.SLAPschoolWorldUpdates">
                    </textarea>

                    <div class="errors" ng-messages="form.SLAPschoolWorldUpdates.$error">
                        <div ng-message="required">Required</div>
                    </div>
                </md-input-container>

                <md-input-container flex="100" style="margin-top: 10px !important">
                    <textarea required name="anythingDiscussed" placeholder=" Was anything else discussed on the call?"
                              ng-model="formData.extra.anythingDiscussed">
                    </textarea>

                    <div class="errors" ng-messages="form.anythingDiscussed.$error">
                        <div ng-message="required">Required</div>
                    </div>
                </md-input-container>

                <div class="item-mark">
                    <md-input-container flex="50">
                        <label>Tool Used for Call</label>
                        <md-select required name="tool" placeholder="" ng-model="formData.extra.tool">
                            <md-option ng-value=1>Zoom video call</md-option>
                            <md-option ng-value=2>Appear</md-option>
                            <md-option ng-value=3>In video call</md-option>
                            <md-option ng-value=4>Line2 Phone</md-option>
                            <md-option ng-value=5>Personal cell phone</md-option>
                        </md-select>
                        <div class="errors" ng-messages="form.tool.$error">
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>
                </div>

                <div class="item-mark">
                    <md-input-container flex="50">
                        <label>Rate their SLAPmindset</label>
                        <md-select required name="slapmindset" placeholder="" ng-model="formData.extra.mindset">
                            <md-option ng-value=1>1</md-option>
                            <md-option ng-value=2>2</md-option>
                            <md-option ng-value=3>3</md-option>
                            <md-option ng-value=4>4</md-option>
                            <md-option ng-value=5>5</md-option>
                        </md-select>
                        <div class="errors" ng-messages="form.slapmindset.$error">
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>

                    <md-input-container flex="50">
                        <label>Rate their Status</label>
                        <md-select required name="slapmanager" md-container-class="slapster-rate-select"
                                   ng-model="formData.extra.rate">
                            <md-option ng-value=1>SLAPstar!</md-option>
                            <md-option ng-value=2>Doing ok but needs to use SLAP better/more</md-option>
                            <md-option ng-value=3>Using SLAP but results are poor</md-option>
                            <md-option ng-value=4>SLAPstuck</md-option>
                            <md-option ng-value=5>Completely Off Track</md-option>
                            <md-option ng-value=6>They are unhappy with Silver Lining / SLAP</md-option>
                            <md-option ng-value=7>Ego / Something in the way of them accepting our help</md-option>
                        </md-select>
                        <div class="errors" ng-messages="form.slapmanager.$error">
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>
                </div>
            </form>
        </section>
    </md-dialog-content>
    <!--di-cont-->
    <md-dialog-actions>
        <md-button ng-click="updateNotes($event, form)" class="md-primary">
            Submit
        </md-button>
        <md-button ng-click="closeDialog()" class="md-primary">Close</md-button>

    </md-dialog-actions>
</md-dialog>