<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-xs-12">
            <form ng-disabled="" id="login-form" name="loginForm" novalidate>
                <div class="panel panel-default animated fadeInDown">
                    <div class="panel-body">
                        <h3>Login</h3>
                        <hr>

                        <div class="form-group" ng-class="{'has-error':vm.errors.email}">
                            <input type="email" ng-model="vm.login.email" class="form-control" name="email"
                                   placeholder="E-mail" required>
                            <div class="help-block help-block-error" ng-show="vm.errors.email"
                                 ng-bind-html="vm.errors.email | joinBr"></div>
                            <!--<span class="help-block has-error span-error">-->
                                <!--<span ng-message="loginForm.pn.$error"></span>-->
                                <!--<span ng-message="required" ng-show="loginForm.email.$error.required && loginForm.email.$dirty">Email is requires</span>-->
                                <!--<span ng-message="email" ng-show="loginForm.email.$error.email && loginForm.email.$dirty">Email is not validation</span>-->
                            <!--</span>-->
                        </div>
                        <div class="form-group" ng-class="{'has-error':vm.errors.password}">
                            <input type="password" ng-model="vm.login.password" class="form-control"
                                   name="password"
                                   placeholder="Password" required ng-minlength="4" ng-maxlength="30">
                            <div class="help-block help-block-error" ng-show="vm.errors.password"
                                 ng-bind-html="vm.errors.email | joinBr"></div>
                            <!--<span class="help-block has-error span-error">-->
                                <!--<span ng-message="loginForm.pn.$error"></span>-->
                                <!--<span ng-message="required" ng-show="loginForm.password.$error.required && loginForm.password.$dirty">Password is requires</span>-->
                                <!--<span ng-message="minlength" ng-show="loginForm.password.$error.minlength && loginForm.password.$dirty">Password min of 4 charts</span>-->
                                <!--<span ng-message="maxlength" ng-show="loginForm.password.$error.maxlength && loginForm.password.$dirty">Password max of 30 charts</span>-->
                            <!--</span>-->
                        </div>

                        <hr>

                        <div class="text-center">
                            <button ng-disabled="loginForm.$invalid" type="submit" ng-click="vm.submit()" class="btn btn-primary btn-fullwidth">Login</button>
                        </div>

                    </div>

                </div>
            </form>
        </div>
    </div>
</div>