.print {
    margin-top: 11px;
    margin-right: 10px;
    display: inline-flex;
    background-color: @color-dark-blue;
    color:#fff;
    font-size: 12px;
    padding: 3px 10px;
    border: none;
    text-align: center;
    border-radius: 100px;
    cursor: pointer;
    &:hover {
        background-color: #1694D7;
        transition: ease-in-out 0.2s;
    }
    &:focus {
        background-color: @color-dark-blue;
    }
    a {
        color: #fff;
        &:focus {
            text-decoration: none;
        }
    }
}

.slapBtn {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    margin-left: -43%;
}

.years {
    position: relative;
    text-align: center;
    width: 150px;
    height: 31px;
    border-radius: 20px;
    background:  @color-dark-blue;
    &:hover {
        background-color: #1694D7;
        transition: ease-in-out 0.2s;
    }
    & a {
      color: #fff;
    }

}

.go-to {
    display: flex;
    justify-content: center;
    position: relative;
    // top: -101px;
    margin-right: 0;
    margin-top: 0;
    left: 30%;
    text-align: center;
    width: 150px;
    height: 31px;
    
    a {
        font-size: 22px;
        line-height: 27px;
    }
}


.dropdown-menu {
    top: ~"calc(50%  + 11px)";
    left: ~"calc(50% - 109px)";
    // right: 30%;
    margin-top: 10px; 
}

.fa-print:before {
    padding-right: 5px;
    font-size: 14px;
}

@media print {
    @page { 
        size: auto; 
        margin: 0mm;
    }

    body {
        min-height: 0;
    }
    .slap-header {
        display: none;
    }
	.print {
        display: none;
    }
    .slider .round {
        display: none;
    }
    .pull-right span{
        display: none;
    };

    .slap-container {
        padding-top: 0;
    }
    
    .panel-default {
        border: none;
    }

    .show-summary {
        display: none;
    }

    .p-w-xs-70 {
        margin-top: 20px; 
        font-size: 12px;
        height: 150px;
        display: flex;
        justify-content: space-around;
    }

    .panel .panel-default {
        margin-bottom: 0;
    }
    .slap-page .panel {
        margin: 0;
        &:last-child {
            margin-bottom: 0;
        }
    }

    slap-footer {
        display: none;
    }
    .panel-body {
        padding: 0; 
    }
    .years {
        display: none;
    }
}