.cent-content {
  display: flex;
}

.step-login {
  position: absolute;
  right: 3.3%;
  top: 50px;
  padding-top: 10px;
  font-size: 12px;
  text-transform: uppercase;

}

.prodName {
  text-transform: inherit;
}

.promo-sidebar {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.payment-sidebar {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.text-center {
  //padding: 0 50px;
  //display: flex;
  //flex-direction: column;
  align-items: center;
}

.promo-content {
  margin: 16px 25px !important;
}

.reg-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.agree {
  display: flex !important;
  align-items: center;
}

.tern-link {
  display: inline-flex;
  align-items: center;
  & i {
    margin-right: 7px;
  }
}


@media (min-width: 401px ) and (max-width: 991px) {

  .header-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .header-caption {
      height: 60px;
      & h1 {
        font-size: 30px !important;
      }

    }

    & .header-step {
      height: 60px;
    }



  }

  .hed-step {
    position: relative;
    top: -85px;
  }

  .rectangle-active {
    border: 1px solid @main-blue-color;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);

    &::before {
      font-size: 3em !important;
    }
  }

  .plan {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  .plan-item {
    padding: 0;
    margin-bottom: 20px;
  }

  .amount-plan span {
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 8vw !important;
    padding: 0 10px;

    &:before {
      width: auto !important;
      align-self: flex-start;
      top: 0 !important;
      left: 0 !important;
      font-size: 3vw !important;
    }

    &:after {
      width: auto !important;
      font-size: 2vw !important;
    }
  }

  .per {
    font-size: 2vw !important;
  }

  .rectangle .rectangle-content {
    & .plan-list {
      font-size: 2vw !important;
    }

    & .plan-group {
      & > p {
        font-size: 2vw !important;
      }
    }
  }
  .slap-fa {
    font-size: 2vw !important;
  }
  .build-description {
    margin-top: -70px !important;
  }

  .registration .registration-sidebar > div {
    width: 100% !important;
  }

  .promo-sidebar {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

  }
  .text-center {
    padding: 0 50px;
    //display: flex;
    //flex-direction: column;
    align-items: center;
    & button{
      width: 30%;

    }
  }
  .payment-sidebar {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .sig-plan {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -105px !important;
  }

}

@media (min-width: 400px ) and (max-width: 615px) {

  .form-column {
    display: flex;
    flex-direction: column;
  }
  .not-flex {
    max-width: 100% !important;
    margin: 20px 0 !important;
  }
  .sp-font{
    font-size: 18px !important;
  }

  .add-plan {
    margin-left: 0 !important;
  }

}


@media (min-width: 309px ) and (max-width: 400px) {

  .container-fluid {
    padding-right: 15px;
  }
  .header-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .header-caption {
      height: 60px;
      & h1 {
          font-size: 30px !important;
        }

    }

    & .header-step {
      height: 60px;
    }



   }

  .hed-step {
    position: relative;
    top: -85px;
  }

  .build-description {
    margin-top: -70px !important;
  }

  .rectangle-active {
    border: 1px solid @main-blue-color;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);

    &::before {
      font-size: 3em !important;
    }
  }

  .signup .plan {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .plan-item {
    padding: 0;
    margin-bottom: 20px;
  }

  .amount-plan span {
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 10vw !important;
    padding: 0 10px;

    &:before {
      width: auto !important;
      align-self: flex-start;
      top: 0 !important;
      left: 0 !important;
      font-size: 4vw !important;
    }

    &:after {
      width: auto !important;
      font-size: 3vw !important;
    }
  }

  .per {
    font-size: 3vw !important;
  }

  .rectangle .rectangle-content {
    & .plan-list {
      font-size: 3.5vw !important;
    }

    & .plan-group {
      & > p {
        font-size: 3vw !important;
      }
    }
  }
  .slap-fa {
    font-size: 3.5vw !important;
  }

  .next-bottom {
    margin-top: 0 !important;
  }

  .build-description {
    padding-right: 0;
    padding-left: 0;
  }
  .sig-plan {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -105px !important;
  }
  .registration .registration-sidebar > div {
    width: 100% !important;
  }

  .promo-sidebar {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

  }
  .text-center {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & button{
      width: 30%;

    }
  }
  .payment-sidebar {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .form-column {
    display: flex;
    flex-direction: column;
  }

  .not-flex {
    max-width: 100% !important;
    margin: 20px 0 !important;
  }

  .sp-font{
    font-size: 14px !important;
  }

  .add-plan {
    margin-right: 0 !important;
    & h2 {
      margin-bottom: 20px !important;
    }
    & button {
      margin-bottom: 15px !important;
    }
  }

  .button__holder {
    padding-left: 0 !important;
  }
}



.plan {
  display: flex;
  justify-content: center ;
}


.add-plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: -70px;
  & i:hover {
    .text::after {
      content: 'Top plans';
      position: absolute;
      font-size: 12px;
    }
  }
}

//button
.button__holder{
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  &:after{
    content: "";
    position: absolute;
    z-index: 0;
    top: 0; right: 0; bottom: 0; left: 0;
    //background: rgba(26, 26, 26, 0.7);
    //opacity: 0.7;
  }
  h2{
    margin-bottom: 50px;
    text-align: center;
  }
}
.plan-plus {
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  background: #0e7cb5;
  border-radius: 50%;
  border: none;
  transition: box-shadow 400ms cubic-bezier(.2,0,.7,1), transform 200ms cubic-bezier(.2,0,.7,1);
  &:focus {
    outline: none;
    background-color: #0e7cb5 !important;
  }
  &:after{
    content: attr(data-after);
    font-size: 1em;
    line-height: 1em;
    color: #fff;

  }
  &:hover{
    opacity: 0.9;
    transition: all 0.4s ease-in-out;
  }

}

.animated .flipInY{
    animation-duration: 1.5s;
}

.invite-only {
  color: #33444d;
  margin-top: -15px;
  font-size: 12px;
  text-align: center;

}

.title-prog {
  text-align: center;
}


.top-size {
  font-size: 10px !important;
}

.item-height {
  padding-bottom: 40px !important;
}
