@media (min-width: 1200px) {
  .upcoming-events-container {
    width: 1370px;
  }
}
@media (min-width: 768px) {
  .upcoming-events-container {
    width: 900px;
  }
}
@media (min-width: 992px) {
  .upcoming-events-container {
    width: 1200px;
  }
}

div.webinar-item > div {
  font-size: 18px;
  line-height: 1.78;
  font-weight: 200;
}