<div class="slap-page slap-start-date " scroll-top>

    <div class="panel panel-default">

        <div class="panel-body">

            <button-switch visible="showVideoBlock"></button-switch>

            <video-block visible="showVideoBlock" video="videoUrl"></video-block>

        </div>

    </div>

    <div class="panel panel-default">

        <div class="panel-body static-text-panel">

            <button-switch visible="showStaticTextBlock"></button-switch>

            <slap-static-text-once t="This is a chance to review your Start Date.   Now that you are further along in the process of building your SLAP - is this still the right Start Date?   If you see adjustments you would like to make, this page is editable and you can make updates to your Start Date now." visible="showStaticTextBlock"></slap-static-text-once>

        </div>

    </div>

    <div class="panel panel-default">

        <div class="panel-body slap-work-panel">

            <button-switch visible="showStartDate"></button-switch>

            <p class="logo panel-title">REVIEW</p>

            <div class="col-md-12 sample-show-hide" ng-hide="showStartDate">
                <p class="heading2">Choose Your Start Date</p>

                <p class="heading3">I will start to put my SLAP into Action no later than the first day of <br>
                    <select ng-model="data.slapStartDate" class="outline-0 dropdown-box active" ng-disabled="!user.stripeSubscription">
                        <!-- <option ng-if="data.year && data.month" value="{{data.month}}">{{months[data.month-1].name}} {{data.year}}</option> -->
                        <option ng-repeat="date in startdates track by $index" value="{{date.month.id+'_'+date.year}}">{{date.month.name+' '+date.year}}</option>
                    </select>
                </p>
            </div>
            
        </div>
    </div>
</div>

<slap-footer send="sendData" forward="forward"></slap-footer>