<div class="slap-page rate-connect-strategy" scroll-top>
    <div class="container-button">
    <section layout="row" layout-align="start center">
        <md-button ui-sref="slapSchool" style="color:#0e7cb5;"><i class="fa fa-arrow-left" style="color:#0e7cb5;" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Back</md-button>
    </section>
    </div>
    <div class="panel panel-default animated fadeIn">
        <div class="panel-body slap-work-panel">
            <div class="row">
                <div class="col-md-12">
                    <button-switch visible="showFormBlock"></button-switch>

                    <p class="logo panel-title">Training & Tools</p>
                </div>
            </div>

            <div class="row sample-show-hide" ng-hide="showFormBlock">
                <div class="col-xs-12 padding-l-r-30 margin-b-24">
                    <p class="heading2"></p>
                </div>
                <div class="col-xs-12" id="strategy-container" style="display: flex;
    justify-content: center;">
                    <svg ng-if="!showResponsiveView">
                        <line ng-attr-x1="{{center.x}}" ng-attr-y1="{{center.y}}" ng-attr-x2="{{pos.x}}"
                              ng-attr-y2="{{pos.y}}" ng-repeat="pos in positions" style="stroke:#50cfe3;stroke-width:2"
                              />
                    </svg>
                    <div id="empty-client" ng-if="!showResponsiveView">
                        <img src="/images/person-avatar.png"/>
                        <p ng-if="clientName.length != 0" class="text-center name-client-summary">
                            {{clientName}}
                        </p>
                    </div>
                    <div ng-if="!showResponsiveView">
                        <div class="strategy-box strategy-tool" ng-repeat="strategy in defaultStrategies">
                            <img src="/images/logo.jpg"/>
                            <div class="overlap">
                            </div>
                            <div class="content content-training">
                                            <span class="plus"
                                                  ui-sref="slapSchool.trainingToolsItem({strategy_id: $index})"><i>+</i>
                                            </span>
                                <span class="title">
                                            {{getStrategyName(strategy.id)}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div ng-if="showResponsiveView" class="row">
                        <div class="strategy-box resp-strategy-box col-xs-6 strategy-tool"
                             ng-repeat="strategy in defaultStrategies">
                            <img src="/images/logo.jpg"/>
                            <div class="overlap">
                            </div>
                            <div class="content content-training">
                                <span class="plus"><i>+</i></span>
                                <span class="title">
                                             {{getStrategyName(strategy.id)}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
