<div class="slapBtn">
        <button class="to-state go-to">
            <a ui-sref="mindset.ourCommitment" href="#!/mindset/ourCommitment">Go To Build</a>
        </button>
        <button class="to-state go-to">
            <a ui-sref="slapExcute.main" href="#!/slapExcute/main">Go To Execute</a>
        </button>
    </div>

<div class="container-fluid m-t-xs-50">
 
    <div class="row">
        <div class="col-md-offset-1 col-md-10 ">
            <div class="panel panel-default animated fadeInDown">

                <div class="panel-body">
                    <!--<div class="row">-->
                    <!--<h2 class="col-md-8">Manage Products</h2>-->
                    <!--<div class="text-right">-->
                    <!--<a class="btn btn-primary" ui-sref="products.add"><i class="fa fa-plus"></i> Add</a>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<hr>-->

                    <table ng-table-dynamic="list with cols" class="table table-hover table-vertical-align ng-cloak  payment">
                        <tr ng-repeat="row in $data">
                            <td ng-repeat="col in $columns" ng-switch="col.format" ng-class="col.style">
                                <div class="item" ng-switch-when="raw" ng-bind-html="col.getValue(row)"></div>
                                <div class="item" ng-switch-when="compile" compile="col.getValue(row)"></div>
                                <div class="item" ng-switch-default ng-bind-html="col.getValue(row)"></div>
                            </td>
                        </tr>
                        <tr ng-if="!list.data.length">
                            <td colspan="{{cols.length}}" class="text-center">You do not have records for display</td>
                        </tr>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>